@import '../../../../../static/styles/dependency/variables';

.ci__commonPhrasesHeader {
    &--common {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        max-width: 77rem;

        .ci__switch {
            border: 1px solid $primary;
            border-radius: 4px;
            &--btn {
                border: 0;
                text-transform: uppercase;
                background-color: transparent;
                font-weight: 500;
                text-align: center;
                min-width: 100px;
                outline: 0;
                transition: 0.3s all ease;
                cursor: pointer;

                &.selected {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
}
