@import '../../../../../static//styles/dependency/variables';

.live_assist {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    padding: 20px 20px;
    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.5rem;
        flex-shrink: 0;
        button {
            height: 100%;
            border-radius: 4px;
            font-weight: 600;
        }
    }
    &--title {
        font-size: 1.25rem;
        font-weight: 600;
    }
    &--card_container{
        background-color: #ffffff;
        box-shadow: 0px 4px 20px 0px #3333331A;
        border: 1px solid #9999991A;
        border-radius: 12px;
        height: 100%;
        padding: 24px;
        overflow-y: scroll;
        height: 100%;

        &--dropdown{
            margin-bottom: 20px;
            width: 190px !important;

            .ant-select-selection-item{
                font-size: 18px;
                font-weight: 500;
                text-transform: capitalize;
                color: #333333 !important;
            }
            .ant-select-arrow{
                color: #333333 !important;
                font-size: 16px;
                right: 8px;
            }
            .ant-select-selector{
                border: none !important;
            }
        }
    }

}
.selected_battle_card{
    border: 1px solid #1A62F2;
}
.battle_card{
    padding: 16px;
    padding-right: 12px;
    box-shadow: 4px 0px 40px 0px #0000001A;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    &--title{
        font-size: 1rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    &--more{
        color: #666666;
        cursor: pointer;

        svg{
            width: 18px;
        }
    }

    &--category{
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}
.battle_card_preview{
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #3333331A;
    border: 1px solid #9999991A;
    border-radius: 12px;
    padding: 16px;
    padding-bottom: 4px;
    overflow-y: scroll;
    height: 100%;
    &--title{
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        margin-bottom: 24px;
    }
}

.preview_card{
    border-radius: 8px;
    &--head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 16px 20px;
        margin-bottom: 20px;
        &--title{
            padding: 0;
            margin: 0;
            font-size: 20px;
            color: #ffffff;
            font-weight: 500;
        }
    }

    &--bullets,&--steps{
        color: #F9F9F9;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        padding: 0 16px;
    }

    &--bullets{
        display: flex;
        align-items: center;
    }

    &--footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 16px 20px;

        &--icon{
            color: white;
            background: #FFFFFF1A;
            padding: 10px;
            font-size: 20px;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 8px;
        }
        
        &--question{
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            color: #ffffff
        }
    }
}

.card_details{

    &--title{
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #333333;
    }

    &--teams{
        padding-top: 16px;
        padding-bottom: 12px;
        border-bottom: 1px solid #99999933;

        &--title{
            padding: 0;
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            color: #666666;
            margin-bottom: 8px;
        }

        &--chips{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 8px;
            column-gap: 8px;
            align-content: flex-start;
        }
    }

    &--category{
        padding-top: 16px;
        padding-bottom: 12px;
        border-bottom: 1px solid #99999933;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--key{
            font-weight: 400;
            font-size: 14px;
            color: #666666;
            margin-right: 12px;
        }

        &--value{
            font-weight: 500;
            font-size: 16px;
            color: #333333;
        }
    }
}

.chip{
    font-weight: 400;
    font-size: 14px;
    color: #1A62F2;
    background: #1A62F233;
    padding: 6px 12px;
    border-radius: 4px;

    &--close_icon{
        svg{
            width: 12px;
            height: 10px;
            margin-left: 16px;
        }
    }

}

.addtional_info{
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.form_item_desc{
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.custom__tags__select {
    text-transform: capitalize !important;

    &.placeholder__none {
        .ant-select-selector {
            // border-style: dashed !important;
            border: 1px solid #99999933;
            height: 100%;
            .ant-select-selection-overflow::before {
                content: '';
                margin-right: 0px;
            }
        }
    }

    .ant-select-selector {
        // border-style: dashed !important;
        border: 1px solid #99999933;
        overflow: scroll;
        max-height: 100px;

        .ant-select-selection-overflow::before {
            content: '+ Add Tag';
            display: inline-block;
            padding-top: 3px;
            margin-right: 8px;
            font-weight: 600;
            font-size: 14px;
            color: $dusty_gray;
        }
    }

    .ant-select-selection-item {
        background: #1a62f233;
        color: $primary;
        border-radius: 6px;
        font-weight: 600;
    }

    svg {
        color: $primary !important;
        transform: scale(1.2);
    }
}