@import '../../../static/styles/dependency/mixins';
@import '../../../static/styles/dependency/variables';
.applyCoupon {
    &__label {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -1%;
    }
    &__inputContainer {
        @include flex(inline-flex, row, center, center);
        margin-top: 14px;
        max-width: 375px;
        width: 375px;
        border: 1px solid $solitude;
        padding: 4px;
        border-radius: 5px;
        input {
            border: 0;
            padding: 0 10px;
            outline: 0;
            font-size: 14px;
            font-weight: 600;
            flex: 1;
            &::placeholder {
                color: $dusty_gray;
                line-height: 20px;
            }
        }
        &--btn {
            padding: 11px 8px;
            background-color: #3faa0b;
            color: $white;
            line-height: 1;
            border: 0;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            min-width: 100px;
            &.applied {
                color: #3faa0b;
                background-color: transparent;
            }
            &.error {
                color: $danger;
                background-color: transparent;
            }
            &.disabled:not(.applied):not(.error) {
                opacity: 0.5;
                cursor: not-allowed;
                background-color: $dusty_gray;
            }
        }
    }
}
