@import '../../../../static/styles/dependency/variables';

.team__manager__drawer {
    .crud__btn {
        width: 30px;
        height: 30px;
        background-color: transparentize($color: $dusty_gray, $amount: 0.9);
        border: none;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 12px;
        }
        &:hover {
            background-color: transparentize($color: $dusty_gray, $amount: 0.7);
        }
    }

    .ant-drawer-header,
    .tm__tab,
    .operations {
        padding: 20px 36px !important;
    }

    .subteam_create_accordian {
        .ant-collapse-header {
            padding: 20px 36px !important;
        }

        .ant-collapse-content-box {
            padding: 10px 36px !important;
        }
    }

    .ant-drawer-body {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .tm__tab {
            border-bottom: 1px solid #99999933;
            border-top: 1px solid #99999933;
            display: flex;
            gap: 20px;
            align-items: center;
            flex-shrink: 0;
            span {
                color: $dusty_gray;
            }

            span.active {
                font-size: 16px;
                font-weight: 600;
                color: $primary;
            }
        }
        .operations {
            display: flex;
            flex-direction: column;
        }
    }

    .ant-input {
        font-size: 14px;
        font-weight: 600;
    }

    .tm_select {
        .ant-select-selection-item {
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
        }

        .ant-select-selection-search {
            padding-top: 5px;
        }

        .ant-select-selection-placeholder {
            text-transform: capitalize;
        }
    }
}

.tm__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 16px;

    .ant-input {
        background-color: transparent !important;
    }
}
