// .eslintignore
build/*
public/*
src/service-worker.js
src/serviceWorkerRegistration.js
src/setupTests.js
src/reportWebVitals.ts
src/react-app-env.d.ts
node_modules/*
*.css
*.svg



config-overrides.js
postcss.config.js
tailwind.config.js
