@import '../../static/styles/dependency/variables';
@import '../../static/styles/dependency/mixins';
$border: 1px solid rgba(153, 153, 153, 0.2);

.collapse {
    width: 0;
    transition: all 0.2s ease-in;

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 5px;
        color: $mine_shaft;
        height: 100%;
        border: $border;
    }

    &.active {
        width: 330px;
    }
}

.accounts_scrollbar__style {
    ::-webkit-scrollbar {
        width: 14px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 14px 14px transparent;
        border: solid 4px transparent;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 14px 14px #bbbbbe;
        border: solid 4px transparent;
        border-radius: 14px;
        background-color: $dusty_gray;
    }

    /* set button(top and bottom of the scrollbar) */
    ::-webkit-scrollbar-button {
        display: none;
    }
}

.antd_overrides {
    .custom__select {
        max-width: 128px;
        width: 128px;
        height: 36px;
        text-transform: capitalize !important;
        font-weight: 600;
        overflow: hidden;

        // .ant-select-selection-item {
        //     width: 10px !important;
        //     overflow: hidden !important;
        // }
        .ant-select-dropdown {
            display: none;
        }

        .ant-select-selector {
            border-radius: 5px !important;
            padding: 0px 10px !important;
            font-size: 12px;
            height: 100%;
            border: 1px solid rgba(153, 153, 153, 0.2);

            .ant-select-selection-item {
                // display: flex;
                // align-items: center;
                padding-top: 3px;
                color: $dove_gray  !important;
            }
        }
    }

    div.ant-select-dropdown {
        max-width: 100px !important;
    }

    .ant-select-dropdown {
        border-radius: 5px;

        .ant-select-item-option-content {
            text-transform: capitalize !important;
            font-weight: 600;
        }
    }
}

.account__list__filters {
    @extend .accounts_scrollbar__style;
    @extend .antd_overrides;

    .active_button {
        background-color: $primary  !important;
        color: $white  !important;
    }

    .ant-select-selection-item {
        font-size: 14px !important;
    }

    .ant-select-selection-placeholder {
        font-size: 14px !important;
        color: #33333333;
        font-weight: 600;
    }

    input {
        &::placeholder {
            font-size: 14px;
            color: #33333333;
            font-weight: 600;
        }
    }

    .input__filter {
        border-radius: 4px;
        border: 1px solid #66666633;
        height: 36px;
    }

    .ant-checkbox-wrapper {
        margin-left: 0px;
    }

    .ant-checkbox+span {
        color: $dove_gray;
        font-size: 12px;
        padding-right: 27.5px;
    }

    .rating_button {
        border-radius: 5px;
        font-size: 12px;
        color: $dove_gray;
        font-weight: 600;
        height: 32px;
        margin-right: 16px;
    }

    .filter__select {
        max-width: 100% !important;
        width: 100% !important;
    }

    .ant-drawer-footer {
        border-top: 1px solid $solitude  !important;
        padding: 20px 34px 20px 0px !important;
        display: flex;
        justify-content: flex-end;

        .footer_button {
            height: 36px;
            border-radius: 6px;
            font-size: 12px;
            font-weight: 600;
        }

        .clear__button {
            color: $dusty_gray;
            border: 1px solid #99999980;

            &:hover {
                color: $primary;
                border: 1px solid $primary;
            }
        }
    }

    .ant-collapse-content-box {
        background: #1a62f21a;
        padding: 24px !important;
    }

    .ant-drawer-header {
        border-bottom: 1px solid $solitude  !important;
    }

    .ant-drawer-body {
        padding: 0;

        .ant-collapse {
            .ant-collapse-item {
                border-bottom: 1px solid $solitude  !important;
            }

            .ant-collapse-header {
                font-weight: 700;
                font-size: 14px;
                color: $dove_gray;
                padding: 20px 24px;
            }
        }
    }

    .ant-drawer-close {
        display: none;
    }
}

.accounts {
    @extend .accounts_scrollbar__style;
    @extend .antd_overrides;
    height: 100%;
    // .ant-popover-inner {
    //     width: 400px;
    // }
    letter-spacing: 0.005em !important;

    .ant-spin-nested-loading {
        height: 100%;
    }

    .ant-spin-container {
        height: 100%;
    }

    .ai__category__accordian {
        background-color: $white;
        font-size: 14px;
        border: 0px !important;

        .ant-collapse-content-box {
            padding: 0px 12px;
        }

        .ant-collapse-header {
            background: #99999910;
            display: flex;
            align-items: center;
            word-break: break;
            padding-left: 12px !important;
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            border: 1px solid $solitude  !important;

            .category__score {
                background-color: #1a62f233;
                padding: 6px 6px 3px;
                display: flex;
                justify-content: center;
                color: $primary;
                border-radius: 5px;
                padding: 6px 3px;
                font-size: 12px;
            }
        }
    }

    .ant-carousel {
        height: 100%;

        .slick-slider {
            height: 100%;

            .slick-list {
                height: 100%;

                .slick-track {
                    height: 100%;

                    .slick-slide {
                        height: 100%;
                    }

                    .slick-slide>div:first-child {
                        height: 100%;
                    }
                }
            }
        }
    }

    .ant-select {
        text-transform: unset !important;
    }

    .ant-select-dropdown .ant-select-item {
        display: none;
    }

    .ant-spin.ant-spin-spinning {
        top: 25% !important;
    }

    .ant-layout-sider-children .ant-spin.ant-spin-spinning {
        top: 0% !important;
    }

    .ant-select-auto-complete {
        .ant-select-selector {
            border-radius: 50px;
        }
    }

    background-color: $athens_gray;

    .grid-ticks {
        position: relative;
        margin: 0;
        border-bottom: 0.6px solid;
        transform: translate(0px, 0.625rem);
        background-color: black;
    }

    .grid-ticks-bar {
        position: absolute;
        bottom: -0.75rem;
        font-size: 10px;
    }

    .grid-ticks-mark {
        position: absolute;
        bottom: -30px;
        font-size: 12px;
        letter-spacing: normal;
        transform: translate(-5px, 0px);
        color: black;
    }

    .ant-carousel {
        .slick-next {
            &::before {
                content: '';
            }

            z-index: 100;
            right: 0;
        }

        .slick-prev {
            &::before {
                content: '';
            }

            z-index: 100;
            left: 0;
        }
    }

    div.ant-divider {
        margin: 0;

        span {
            text-transform: capitalize;
            color: $dove_gray;
        }
    }

    &__listpage {
        padding: 45px 40px 40px 40px;
        height: 100%;

        .heading {
            padding-top: 2px;
        }

        .search-container {
            position: relative;

            .search {
                outline: none !important;
                border: 1px solid rgba(153, 153, 153, 0.5);
                border-radius: 6px;
                padding: 9px;

                height: 36px;
                box-sizing: border-box;
                width: 36px;
                transition: 0.2s all ease-in;
            }

            .search__active {
                width: 281px;
                padding-left: 36px;
            }

            .button {
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                height: 80%;
                cursor: pointer;
                width: 34px;
                margin: 0px 1px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .filter__button {
            border-radius: 4px;
            height: 36px;
            width: 36px;
            border: 1px solid rgba(153, 153, 153, 0.2);
            margin: 0px !important;
            padding: 0px !important;
        }

        .acconts_list_card {
            box-shadow: 0px 4px 20px 0px #0000000d;
            box-sizing: border-box;
            border: 1px solid $white;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            &::before{
                content:"";
                width: 18px;
                height: 100%;
                color: white;
                position: absolute;
                z-index: 0;
            }

            &.hot::before{
                background-color: #FF8754;
            }

            &.warm::before{
                background-color: #FDD250;
            }


            &.cold::before{
                background-color: #73B1FF;
            }

            .lead_score_type{
                position: absolute;
                left: -4px;
                top: 50%;
                z-index: 10;
                text-transform: uppercase;
                font-size: 12px;
                transform: translate(0%,-50%) rotate(270deg);
                color: white;
                
            }

           

            &:hover {
                border: 1px solid #1a62f280;
                border-radius: 5px;
                transition: 0.2s all ease;
            }
        }
    }

    &__detailspage {
        .border {
            border: $border;
        }

        .accordian {
            border-radius: 5px !important;
        }

        div.ant-drawer-body {
            padding: 0;
        }

        &__header {
            box-shadow: 0px 4px 20px 0px #0000000d;
            .lead_score_type{
                font-size: 16px;
                padding: 8px;
                margin-left: 16px;
                border-radius: 4px;
                text-transform: capitalize;
                &.hot{
                    background-color: #FF87541A;
                    color:#FF8754
                }
    
                &.warm{
                    background-color: #FDD2501A;
                    color:#FDD250
                }
    
    
                &.cold{
                    background-color: #73B1FF1A;
                    color:#73B1FF
                }
    
               
            }
            button {
                border: $border  !important;
                border-radius: 5px !important;
                height: 36px !important;
                box-shadow: none;

                &.good {
                    background-color: $newGreen;
                }

                &.avg {
                    background-color: $newOrange;
                }

                &.bad {
                    background-color: $newRed;
                }
            }

            .button_primary {
                &--active {
                    background-color: $primary;

                    span {
                        color: $white;
                    }
                }
            }

            .crm_button_dissabled {
                color: $dove_gray  !important;
            }
        }

        .ant-layout,
        .ant-layout-sider-children {
            background-color: $athens_gray  !important;
        }

        .go__to__call--btn {
            background-color: $lima;
            color: $white;
        }

        .acc_details_btn {
            height: 35px;
            font-size: 12px;
        }

        .view_transcript_button {
            border: 1px solid #99999980 !important;
            color: $dove_gray  !important;

            &:hover {
                border: 1px solid $primary  !important;
                color: $primary  !important;
            }
        }

        &__body {
            flex: 1;
            display: flex;
            overflow: hidden;
            padding: 10px 0px 10px;
            padding-left: 10px;

            .graph__types {
                line-height: 12px;
                color: $dusty_gray;
                margin-left: 5px;
                font-size: 12px;
            }

            main.ant-layout-content {
                padding: 0 !important;
                margin: 0 !important;
            }

            div.ant-collapse-header {
                font-weight: 700;
                display: flex;
                align-items: center;

                font-size: 16px;

                .ant-collapse-extra {
                    margin-left: auto;
                }
            }

            &--custom--graph {
                .graphTick {
                    color: rgba(153, 153, 153, 0.2);
                }

                .today {
                    border-bottom: 5px solid $primary;
                    background: #16a2f233;
                }

                .graphTable {
                    table-layout: fixed;
                    width: 100%;

                    .line_tr {
                        border-top: 1px solid $solitude;
                        height: 35px;
                    }
                }

                .call_block {
                    height: auto;
                    box-shadow: 0px 4px 25px 0px #52c41a3b;
                    width: 40px;
                    border-radius: 100px;
                    margin: 0 auto;
                    width: 80%;
                    height: auto;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .calls__card {
                .call_name {
                    line-height: 17px;
                }
            }

            .upperHeight {
                height: 245px;
                padding-bottom: 15px;
            }

            .left__section {
                width: 280px;

                input {
                    &::placeholder {
                        font-size: 12px;
                        color: $dusty_gray;
                    }
                }

                .ant-collapse-extra {
                    margin-right: 20px;
                }

                div.ant-collapse {
                    background-color: $white;
                    border-radius: 5px;
                    padding: 0;

                    div.ant-collapse-item {
                        border: 0;
                        border: $border;
                        border-radius: 5px;
                    }

                    div.ant-collapse-content-box {
                        padding-left: 12px !important;
                        padding-right: 4px !important;
                    }

                    div.ant-collapse-header {
                        padding: 0;
                        padding: 16px 12px;
                        height: 52px;
                        font-weight: 700;
                        font-size: 16px;

                        .ant-collapse-extra {
                            button:hover {
                                color: $primary;
                                border-color: #1a62f280;
                            }
                        }
                    }
                }
            }

            .topics__accordian div.ant-collapse-content-box {
                padding: 0px 0px 10px 20px;
            }

            .participants__accordian div.ant-collapse-content-box {
                padding: 0px 0px 16px 16px;
            }

            .left__section__topics {
                margin-bottom: 15px;

                .ant-collapse-content {
                    overflow-y: scroll;
                    color: $dusty_gray;
                    height: 178px;
                }
            }

            .left__section__participants {
                height: calc(100% - 245px);

                .participants__accordian {
                    height: 100%;

                    .accordian {
                        height: 100%;

                        .ant-collapse-content {
                            height: calc(100% - 46px);

                            .ant-collapse-content-box {
                                height: 100%;
                            }
                        }
                    }
                }

                .participant_tag {
                    font-weight: 600;
                    font-size: 12px;
                    max-width: 120px;
                    width: auto;
                }

                .ant-collapse-content-box {
                    height: calc(100% - 245px - 46px);
                    display: flex;
                    flex-direction: column;

                    .input_container {
                        flex-shrink: 0;
                    }

                    .participants_container {
                        flex: 1;
                    }
                }
            }

            .right__section__container {
                height: 100%;
                overflow: scroll;
                transition: all 0.3s ease-in;

                .meeting__details__section {
                    height: calc(100% - 245px);
                    position: relative;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;

                    background-color: $white;
                    flex: 1 !important;

                    .lead_score_type{
                        font-size: 16px;
                        padding: 8px;
                        margin-left: 16px;
                        border-radius: 4px;
                        text-transform: capitalize;
                        &.hot{
                            background-color: #FF87541A;
                            color:#FF8754
                        }
            
                        &.warm{
                            background-color: #FDD2501A;
                            color:#FDD250
                        }
            
            
                        &.cold{
                            background-color: #73B1FF1A;
                            color:#73B1FF
                        }
            
                       
                    }
                }

                .calls__container {
                    height: calc(100% - 245px);
                    border-radius: 5px;
                    background-color: $white;
                    position: sticky;
                    top: 0px;
                    transition: all 0.2s ease-in;

                    &.fullheight {
                        height: 100%;
                    }

                    .ant-tabs {
                        height: 100%;

                        .ant-tabs-content {
                            height: 100%;

                            .ant-tabs-tabpane {
                                height: 100%;

                                .flex1 {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .meeting__details__section {
                .transcript {
                    button {
                        margin: 0;
                        padding: 0;
                        height: auto;
                        transform: scale(0.8);
                        display: flex;
                        align-items: flex-start;
                        width: auto;
                    }
                }

                .ant-tabs-tab {
                    padding: 0px;
                    font-size: 14px;
                }

                div.ant-collapse-header {
                    padding-left: 19px;
                    padding-top: 14px;
                    padding-bottom: 14px;
                }

                div.ant-collapse-content-box {
                    padding: 0px 25px 0px 19px;
                }

                .ant-radio-button-wrapper {
                    margin: 0px 10px 10px 0px;
                    border-radius: 5px;
                    border: 1px solid #99999980;
                    color: $dove_gray;
                    display: inline-block;
                    height: 28px;
                    padding: 2px 11px 0px 11px;

                    &::before {
                        visibility: hidden;
                    }

                    span {
                        font-weight: 600;
                    }
                }

                .ant-radio-button-wrapper-checked {
                    box-shadow: none !important;
                }

                .ant-radio-button-wrapper:nth-child(5n + 1).ant-radio-button-wrapper-checked,
                .stats:nth-child(5n + 4) {
                    border: 1px solid #94a88a33;
                    background: #63ca301a;
                    color: $lima;
                }

                .ant-radio-button-wrapper:nth-child(5n + 2).ant-radio-button-wrapper-checked,
                .stats:nth-child(5n + 2) {
                    border: 1px solid #ea934533;
                    background: #ea93451a;
                    color: #ea9345;
                }

                .ant-radio-button-wrapper:nth-child(5n + 3).ant-radio-button-wrapper-checked,
                .stats:nth-child(5n + 3) {
                    border: 1px solid #6a4ff733;
                    background: #6a4ff71a;
                    color: #6a4ff7;
                }

                .ant-radio-button-wrapper:nth-child(5n + 4).ant-radio-button-wrapper-checked,
                .stats:nth-child(5n + 1) {
                    border: 1px solid #1a62f21a;
                    background: #1a62f21a;
                    color: $primary;
                }

                .ant-radio-button-wrapper:nth-child(5n + 5).ant-radio-button-wrapper-checked,
                .stats:nth-child(5n + 5) {
                    border: 1px solid #d8549a33;
                    background: #d8549a1a;
                    color: #d8549a;
                }

                .transcript_cl {
                    transition: all 0.2s ease-in;
                    cursor: pointer;

                    mark {
                        transition: all 0.2s ease-in;
                    }

                    color: #333333;

                    &:hover {
                        color: $primary;

                        mark {
                            color: $primary;
                        }
                    }
                }

                .highlight_mark_dissable {
                    mark {
                        color: unset;
                        background-color: unset;
                    }
                }

                .monologue {
                    line-height: 15px;
                }

                .stats__container {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(auto, 1fr));
                    max-width: 750px;
                    overflow: hidden;
                    gap: 9px;
                    padding-bottom: 20px;

                    .stats {
                        padding: 13px 12px;
                        border-radius: 6px;
                        @include flex(flex, row, space-between, center);

                        .stat_label {
                            color: #333333cc;
                            font-size: 12px;
                            flex: 1;
                        }

                        .stat_value {
                            font-weight: 700;
                        }
                    }
                }
            }

            &--comments--sider {
                background-color: #f0f2f5;
            }

            &--tabs--container {
                .ant-tabs-nav {
                    height: 43px;
                }

                .ant-tabs-nav-list {
                    padding: 0px 16px;
                }

                .ant-tabs-tab {
                    padding: 16px 0px 6px;
                    font-size: 12px;
                    color: $dusty_gray;
                }

                .ant-tabs-tab-btn {
                    font-weight: 600 !important;
                }

                .ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: $mine_shaft  !important;
                }

                .ant-tabs-nav {
                    margin: 0;
                }

                // .ant-tabs-tabpane {
                //     padding-right: 4px;
                // }
            }

            .action_items_transcripts_container {
                .ant-tabs-content-holder {}
            }

            .component--hover--active:hover,
            .call__active {
                background-color: #dfeaff80;

                .rightArrow {
                    display: block;
                }
            }
        }
    }

    .search_btn {
        height: 30px;
        width: 30px;
    }

    .search_btn,
    .ant-select-selection-search-input {
        &::selection {
            background: $primary  !important;
        }
    }

    .search_container {
        width: 100%;
        display: none;
        position: absolute;
        padding: 5px 0px;
        background-color: $white;

        transition: all ease 1s;
        z-index: 10;
        height: 43px;

        &_close {
            position: absolute;
            top: 2px;
            right: 10px;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .show_search_container {
        display: block;
    }

    .hover--underline {
        display: inline-block;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            background: $dusty_gray;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }
    }

    .header_type {
        .response_type {
            color: #333333cc;
        }
    }

    .yes_header {
        background: #52c41a1a;
        border: 1px solid #52c41a33;
        color: #52c41a;
    }

    .no_header {
        background: #ff63651a;
        border: 1px solid #ff636533;
        color: #ff6365;
    }

    .na_header {
        background: #9999991a;
        border: 1px solid $solitude;
        color: #999999;
    }

    .rated_header {
        background: #1a62f21a;
        border: 1px solid #1a62f233;
        color: $primary;
    }

    .custom_header {
        background: #eca51d33;
        border: 1px solid #eca51d33;
        color: #eca51d;
    }

    .ant-select-focused {
        .ant-select-selector {
            border-color: $primary;
        }
    }

    .border_bottom {
        border-bottom: 1px solid #d9d9d9;
    }
}