.folder {
    line-height: normal;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);

    .ant-card-body {
        padding: 1rem;
        border: 1px solid rgba(153, 153, 153, 0.2);
        border-radius: 12px;

        &:hover {
            border: 1px solid rgba(26, 98, 242, 0.3);
        }
    }

    &_title {
        span {
            max-width: 10rem;
            display: block;
        }
        .ant-typography {
            margin-bottom: 0;
        }
    }
}

.addFolder {
    .ant-card-body {
        border: 1px solid transparent;
        &:hover {
            border: 1px solid transparent;
        }
    }
}
