.ant-avatar-group {
    cursor: pointer;
    &:hover {
        background: #1a62f233;
    }
    padding: 3px;
    background: #99999980;
    border-radius: 100px;

    .ant-avatar {
        border: 2px solid #fff;
    }
    .ant-avatar-string {
        line-height: 22px !important;
        font-size: 12px;
    }
}

.ant-avatar-group-popover {
    display: none !important;
}

.individual_call_participants {
    .ant-avatar {
        display: flex;
        align-items: center;
        span {
            font-size: 18px;
        }
    }
}
