.percentage-circle {
	position: relative;
	
	&__circle {
		stroke-dashoffset: 0;
		transform-origin: 50%;
		position: absolute;
		transform: rotate(-90deg);
	}
	
	&__percentage {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -30%);
        width: 150px;
        height: 150px;
        text-align: center;
	}
}