@import '../../static/styles/dependency/variables';
.create__scorecard--modal {
    .ant-form-vertical {
        .ant-form-item {
            margin-bottom: 8px;
            &-label {
                padding-bottom: 4px;
                text-transform: uppercase;
                letter-spacing: normal;
                font-weight: 500;
                line-height: normal;
                > label {
                    font-size: 12px;
                    color: $darkergrey;
                }
            }
        }
    }
    .ant-modal-footer {
        display: flex;
        justify-content: flex-end;

        .ant-btn {
            border-radius: 20px;
        }
    }
}

.fb__category--cards {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    &.onSettings {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
        padding:12px;
    }
}
