.joinCall-container {
    .call_link_container {
        width: 500px;
        background-color: #9999991A;
        height: 56px;
        border-radius: 5px;
        padding: 15px 5px 15px 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 18px;

        .call_link {
            p {
                font-size: 12px;
                color: #1A62F2;
                padding: 0;
                margin: 0;
            }

            display:flex;
            flex-direction:column;
            justify-content:center;
            width:550px;
            font-weight:400;

            .ant-input {
                background: none;
                border: none;
                margin-top: 3px;
                height: 15px;
                padding: 0;
                font-size: 16px;
            }

            .ant-input:focus,
            .ant-input-focused {
                border: none;
                border-color: none;
                box-shadow: none;
                border-right-width: none;
                outline: 0;
            }

            .ant-select-selector {
                outline: none;
                border: none;
                background-color: inherit;
            }
        }

        .link_type {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 30px;
            }
        }
    }


    .ant-alert {
        margin-top: 1rem;
    }
}

.clients_email_container {
    border: none !important;
    background-color: #9999991A;
    width: 500px;
    border-radius: 5px;

    p {
        font-size: 12px;
        color: #1A62F2;
        padding: 10px 0 0 0;
        margin-left: 15px;
        margin-bottom: 0;
    }

    .ant-select-multiple,
    .ant-select-focused {
        text-transform: inherit !important;
        font-size: 1rem;

        .ant-select-selector {
            border: none;
            padding: 0 !important;  
            overflow: hidden;
            background-color: inherit;
            border-color: #fff;
            box-shadow: none !important;
            border-right-width: none;
            color: rgba(0, 0, 0, 0.85);
            .ant-select-selection-search-input {
                height: 18px !important;
                padding: 12px 0 !important;
                margin: 0 0 0 4px !important;
            }
        }
    }
}

.modal-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-header {
    font-size: 18px !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.joinCall-upload {
    width: 181px;
    height: 40px;
}

.bot_joined_modal {
    font-size: 18px;

    .bot_joined_link {
        margin-top: 18px;
        height: 56px;
        background-color: #E8EFFE;
        width: 500px;
        padding: 10px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;

        a {
            color: #0056F2;
            width: 100%;
        }

        .meet_type {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }
}

.flexCC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 20px;
    font-weight: 600;
}