@import '../../../static/styles/dependency/variables';
@import '../../../static/styles/dependency/mixins';

.comment__actions {
    .anticon {
        margin-right: 10px;
    }
}



.save__btn,
.cancel__btn {
    text-transform: capitalize;
    border-radius: 5px;
}

.save__btn {
    color: $white;
    background-color: $lima;
}

.comment__container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 5;
    color: $mine_shaft;
    height: 100%;

    .chat_container {
        width: 50%;
        display: inline-block;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;

        .chat_text {
            padding: 14px 40px;
            flex: 1;
        }

        .comment_btn {
            position: absolute;
        }
    }

    .chat_date {
        text-align: right;
        color: $dusty_gray;
    }

    .chat_container {
        flex-direction: row-reverse;
        width: 100%;

        .chat_text {
            background: #f5f5f5;
            color: $mine_shaft;
            border-radius: 0px 30px 30px 30px;
            font-size: 16px;
            font-weight: 600;

            &.view {
                background: white;
                box-shadow: 0px 4px 10px 0px #9999991A;

            }
        }


        .comment_btn {
            right: -20px;
        }
    }

    &__header,
    &__footer {
        background-color: white;
    }

    &__footer {
        box-shadow: -2px -4px 20px 0px #0000000d !important;
        flex-shrink: 0;
        padding: 16px 14px;
        bottom: 0;
    }

    &__header {
        padding: 24px 20px 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        flex-shrink: 0;
        top: 0;
    }
}

.comment__actions {
    display: none !important;
}

.component--hover--active:hover {
    background-color: #dfeaff80;

    .comment__actions {
        display: block !important;
    }
}

.add__comment--container {
    box-shadow: -2px -4px 20px 0px #0000000d;
}

.site-settings {
    .ant-layout-sider-children {
        border: none !important;
    }
}