// basic colors
$black: #000;
$white: #fff;
$offwhite: #fefefe;

// layout and elevation
$surface: #f4f5f8;
$belowLevel: #f7f7f7;

// Major colors for app
$primary: #1a62f2;
$secondary: #f8f9fc;

// Log states colors
$success: #39bd7f;
$info: #8acdff;
$warning: #f4d07f;
$danger: #e44a69;
$danger2: rgba(243, 45, 85, 0.18823529411764706);

$textgrey: #333;
$lightgrey: #919cb7;
$balihai: #8c9fa8;
$echoblue: #b1bad1;
$solitude: #99999933;
$tab_bg: #9999994d;

$taggrey: #787f8f;
$darkergrey: #1b3451;
$labelgrey: #6f7d85;
$bordergrey: #d6dfe3;
$filtergrey: #b3b6cc;

// Tracker Colours

$trackerblue: #51acdb;
$trackerpurple: #4c3acb;
$newpurple: #6a4ff7;
$trackerteal: #1b926c;
$extrateal: #4cddbb;

// Call Overview Colors

$legendblue: #6d8ee9;
$legendpurple: #7d4ae4;
$legendyellow: #f3af48;
$paleYellow: #ea9345;
$legendblack: #22262b;
$legendred: #e44a69;
$magenta: #d8549a;
$legendgreen: #62bb91;
$callerteal: #158fad;
$receiverpink: #ff3366;
$pinborder: #525e64;
// graph colours
$sunshade: #ff994e;
$silvertree: #62bb91;
$lightslateblue: #8b4eff;
$moonyellow: #f1c40f;
$trace: #04bd34;

$meeting-card: #ece7fe;
$meeting-actions: #ffefe7;

$highLight: #ffe58f;

$goodColor: #52c41a;
$newOrange: #eca51d;
$newGreen: #52c41a;
$newRed: #ff4d4f;
$newGreenBg: #52c41a1a;

$auditGreen: #32a65d;
$auditRed: #ed5364;

//grey__shades
$athens_gray: #f9f9f9;
$dove_gray: #666666;
$mine_shaft: #333333;
$silver: #c4c4c4;
$dusty_gray: #999999;
$dusty_gray_1a: #9999991a;
$sonic_silver: #777777;

//green__shades
$lima: #76b95c;
$robin_egg_blue: #00bac1;
$newrobin_blue: #66c2ac;
$good_light_green: #52c41a1a;

//red shades
$bitter_sweet: #ff6365;
$bitter_light: #ff63651a;

//50% opacity
$bitter_sweet50: #FF636580;
$newOrange50: #ECA51D80;
$lima50: #52C41A80;
$blueBackground10: #1A62F21A;

//white shades
$ghost_white: #fbfaf9;

$sunshade: #ffa82f;

$hot: #0057ae;
$warm: #1a86f2;
$cold: #5fbcff;

//parameterbar color
$blur_gray: #ebebeb66;
$newBlue: #1a62f2;
$newBlueBg: #1a62f233;
$lightBlue: #1a62f20d;
$navyBlue: #4068b9;
$blueBackground: #1a62f24d;

//hover color

$primaryHover: #1a62f280;
$primaryHover: #1a62f280;
$chocolate_brown: #481111;
$skyblue_light: #1ba9d6;
