@import '../../static/styles/dependency/variables';
@import '../../static/styles/dependency/mixins';

.gpt_container {
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    display: flex;
    padding: 24px 16px;

    .ant-select-selection-item > div {
        text-overflow: ellipsis;
        overflow: hidden;
        .percentage-circle {
            display: none !important;
        }
    }

    .gpt_content_container {
        border: 1px solid #9999991a;
        background: #fff;
        border-radius: 12px;
        position: relative;
    }
    .chat--list {
        width: 265px;

        .chat_NavLink {
            height: 40px;
            color: $dove_gray;
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-top: 5px;
            &.active {
                color: $primary;
                font-weight: 600;
            }

            &.active + span > .anticon > svg {
                * {
                    color: $primary !important;
                }
            }
        }
    }
    .dataset_select {
        max-width: 150px;
        width: 150px;
        height: 36px;
        .ant-select-selection-item {
            padding-right: 20px;
        }
        .ant-select-selector {
            border: none !important;
        }
    }
    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.2);
        flex-shrink: 0;
        &_right {
            .ant-select {
                margin-right: 2rem;
                .ant-select-arrow {
                    color: #333;
                }
                span {
                    text-transform: capitalize;
                    font-size: 1rem;
                    line-height: 0;
                    color: #666666;
                    font-weight: 600;
                }
            }
            > span {
                display: flex;
                align-items: center;
            }
        }
        &_title {
            font-size: 24px;
            line-height: 24px;
            font-weight: 600;
        }
    }
    &--content {
        overflow-y: scroll;
        flex: 1;
        @media screen and (min-height: 768px) {
            margin-bottom: 6rem;
        }
        &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &_title {
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            color: #333;
        }
        &_subtitle {
            text-align: center;
            font-size: 18px;
            color: #999;
        }
        &_question_cards {
            margin-top: 20px;
            cursor: pointer;
            &_row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.25rem;
                padding: 20px;
            }
        }
        &_helper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3.5rem;
            padding-bottom: 1.5rem;
            > span {
                font-size: 18px;
                color: #666;
                margin-bottom: 1.5rem;
            }
        }
    }
    &--footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        > span {
            text-align: center;
            font-size: 18px;
            color: #666;
        }
        &_chatbox {
            // margin: 0 2.25rem;
            height: 3.75rem;
            background: #9999991a;
            border: 1px solid #99999933;
            border-radius: 12px;
            width: calc(100% - 4.5rem);
            display: flex;
            align-items: center;
            transition: all 0.3s;

            &:focus-within {
                border-color: #40a9ff;
                box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
                border-right-width: 1px;
                outline: 0;
            }

            .ant-input {
                height: 100%;
                border: none;
                background: transparent;
                border-radius: 12px;
                box-shadow: none;
                margin-left: 1rem;
            }
            .ant-divider {
                height: 40px;
                border-color: #99999966;
            }
            .ant-btn {
                background: transparent;
                border: none;
                box-shadow: none;
                color: #999999;
                padding-right: 1.25rem;
                width: max(75px, 4%);
                &:active {
                    border: none;
                    box-shadow: none;
                }
                &[ant-click-animating-without-extra-node='true']::after {
                    display: none;
                }
            }
        }
    }
}

.dataset_dropdown {
    .ant-select-item-option-content {
        text-transform: capitalize;
    }
}

.sample_question_card {
    background: #9999991a;
    border: 1px solid #9999991a;
    border-radius: 6px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.create_dataset_btn {
    padding: 12px 40px;
    border-radius: 6px;
    height: 46px;
    line-height: 1;
    font-size: 1rem;
}

.filters_form {
    .multiple__select {
        .ant-select-selection {
            &-item {
                background: #1a62f233;
                color: #1a62f2;
                font-size: 12px;
                font-weight: 400;
                padding: 0.9rem 0.75rem;
                margin-top: 0px;
                margin-bottom: 0px;
                &-content {
                    margin-right: 1rem;
                }
            }
            &-placeholder {
                font-size: 14px;
            }
        }
    }
    .ant-select-selection {
        &-placeholder,
        &-item {
            text-transform: capitalize;
        }
    }

    .advanced_options {
        color: #1a62f2;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75em;
        margin-bottom: 1.75rem;
    }
    .client__select {
        input {
            height: 100% !important;
        }
    }
    .keyword_suboptions {
        .ant-form-item {
            &-row {
                flex-direction: row;
            }
            &-control {
                width: 20%;
            }
            &-label {
                font-size: 14px;
                label {
                    color: #666;
                }
                padding: 0;
                display: flex;
                align-items: center;
                margin-right: 1.5rem;
            }
        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        position: relative;
        background-color: #fff;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        border: 1px solid rgba(153, 153, 153, 0.2);
        border-radius: 5px;
        height: 44px;
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.dataset_info_overlay {
    width: 22rem;
    height: 20rem;
    .ant-popover-inner {
        box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
        border-radius: 12px;
        height: 100%;
        padding: 1rem;
    }
    .ant-popover-arrow {
        display: none;
    }
}

.dataset_info_popover {
    &--title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    &--tag_container {
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &--tag {
        margin-top: 1rem;
        > span {
            line-height: 22px;
            color: #666666;
        }
        > div {
            margin-top: 0.5rem;
        }
        &:nth-of-type(2) {
            margin-bottom: 1rem;
        }

        .ant-tag {
            width: 5.5rem;
            height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 4px;
            font-size: 14px;
            display: inline-block;
            line-height: 2;
            text-align: center;
            &.rep_tag {
                color: #1a62f2;
            }
        }
    }
    &--option {
        line-height: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.75rem;
        span {
            &:first-of-type {
                font-size: 12px;
                color: #666;
            }
            &:nth-of-type(2) {
                font-size: 14px;
                color: #333;
            }
        }
    }
}

.chat_message_container {
    margin-left: 2rem;
    margin-right: 3rem;
    .chat_message {
        .cursor__blink h2 {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-top: 10px;
            margin-left: 20px;
        }

        @keyframes cursor-blink {
            0% {
                opacity: 0;
            }
        }

        .cursor__blink h2::after {
            content: '';
            width: 2px;
            height: 20px;
            background: #333;
            display: inline-block;
            animation: cursor-blink 1.5s steps(2) infinite;
        }
        &--title {
            margin-left: 1rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: 19px;
        }
        padding: 1rem;
    }
    .user_chat {
        .chat_message {
            margin: 1.5rem 1.25rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .bot_chat {
        background: #6e92fe1a;
        border-radius: 12px;
        .chat_message {
            padding: 1.5rem 1.25rem;
            .anticon {
                margin-top: 10px;
            }
            &--content {
                font-size: 1rem;
                color: #666666;
                margin-left: 16px;
                flex: 12;
            }
            &--button {
                display: flex;
                flex: 1;
                gap: 1.5rem;
                justify-content: flex-end;
                margin-right: 0.5rem;
                svg {
                    cursor: pointer;
                }
            }
        }
    }
}

.chat_loader {
    width: 70px;
    text-align: center;
}

.chat_loader > div {
    width: 15px;
    height: 15px;
    background-color: $primary;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.chat_loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.chat_loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.gpt_data_select_dropdown {
    box-shadow: 0px 4px 20px 0px #0000001a;
    border: none !important;
    border-radius: 6px;
    padding: 0px !important;
    width: 250px;
    .ant-select-item {
        border-bottom: 1px solid #99999933;
        padding: 0px 15px !important;

        .ant-select-item-option-content {
            padding: 15px 0px !important;
        }
    }
}

.gpt_response_modal {
    background-color: #33333399;
    &--header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .svg_container {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                transform: scale(1.35);
            }
        }
        .title {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
    .ant-modal-header,
    .ant-modal-header {
        border: none;
        margin-top: 0.5rem;
    }
    .ant-modal-content {
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.25rem 0.75rem;
        border-radius: 12px !important;
    }
    .ant-input {
        background-color: #99999933;
        height: 124px;
        border: 1px solid #99999966;
        border-radius: 12px;
        resize: none;
        padding: 1rem;
        padding-right: 0;
        &::placeholder {
            color: #666666;
        }
    }
    .ant-modal-body {
        padding-right: 1rem;
    }
    .ant-modal-close-x {
        margin-top: 0.75rem;
        margin-right: 0.75rem;
    }
    .ant-modal-close-icon {
        color: #333333;
        transform: scale(1.5);
        margin-top: 1rem;
    }
    &.NEGATIVE_response {
        .ant-modal-content {
            height: 30rem;
        }
        .ant-checkbox-group {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .ant-checkbox-inner {
                background: transparent;
                border: 2px solid #999999;
                border-radius: 2px;
            }
            &-item {
                font-size: 1rem;
            }
            .ant-checkbox-checked {
                .ant-checkbox-inner {
                    background-color: #1a62f2;
                    border: none;
                    &::after {
                        margin-left: 1px;
                        margin-top: -1px;
                    }
                }
            }
        }
    }
}
