@import '../../../static/styles/dependency/variables';
@import '../../../static/styles/dependency/mixins';

.settings-container {
    .ant-menu-item {
        margin: 0;
        height: 48px;
    }
    .ant-menu-title-content {
        text-transform: capitalize;
        color: $dove_gray !important;
    }
    
    .ant-menu-item-selected {
        .ant-menu-title-content {
            color: $primary !important;
        }

        &::after {
            width: 4px;
            background-color: $primary ;
        }

      
    }
    &--suboptions::after{
        width: 0px !important;
        border: none !important;
    }
}
