.hidden__manager {
    button {
        text-transform: none !important;
        border-radius: 5px !important;
    }
}
.commands_modal {
    .options_container {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 16px;
        .custom__select {
            text-transform: capitalize !important;
            font-weight: 600;
        }
        .ant-select-selector {
            height: 100% !important;
        }
        input {
            height: 36px !important;
        }
    }
}

.word_cloud_snippets {
    .ant-drawer-body {
        overflow: hidden;
    }
}
