@import '../../static/styles/dependency/variables';

button.subtitles {
    background-color: $white;
    color: $black;
    padding: 2px 4px 0px;
    height: 19px;
    margin-top: 2px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid $white;
    transition: all 0.3s ease;
    font-weight: 900;
    line-height: 1px;
}

button.subtitles.disabled {
    background-color: transparent;
    color: $white;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: white;
        transform: rotate(30deg);
        position: absolute;
        top: 6px;
        left: -2px;
    }
}

:fullscreen {
    video::cue {
        font-size: 20px;
    }
}
.video-container {
    position: relative;
    transition: 0.3s ease all;
    flex-shrink: 0;

    .shaka-current-time {
        font-family: 'ProximaNova', Arial, Helvetica, sans-serif !important;
    }
    .shaka-range-container.shaka-seek-bar-container {
        height: 9px;
    }

    .shaka-play-button {
        padding: calc(10% / 2) !important;
        position: relative;
        background-color: rgba(255 255 255 / 90%) !important;
        // background-color: unset !important;
        // background-color: unset !important;
    }

    // .shaka-play-button::after {
    //     content: '';
    //     background-color: $primary;
    //     position: absolute;
    //     z-index: -10;
    //     height: 100%;
    //     width: 100%;
    //     border-radius: 100%;
    //     transform: translate(-50%, -50%);
    // }

    .shaka-range-element {
        top: -4px !important;
    }

    .shaka-range-element.shaka-seek-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: $white;
        margin-top: -1px;
    }
    .player_expCom {
        position: absolute;
        z-index: 20;
        top: 10px;
        right: 10px;
        color: $white;
        border: none;
        &:hover,
        &:focus {
            color: $white;
            background: rgba(0, 0, 0, 0.35);
        }
        background: rgba(0, 0, 0, 0.35);
    }
    &.miniPlayer {
        max-height: 80px !important;
        position: sticky;
        top: 0;
        transition: 0.3s ease all;
        z-index: 30;
        background: #4e89ff;
        video {
            visibility: hidden;
        }
        .shaka-spinner {
            padding: 26px;
        }
        .shaka-play-button-container,
        .shaka-scrim-container {
            display: none;
        }
        .shaka-controls-button-panel,
        .shaka-seek-bar-container {
            opacity: 1 !important;
        }
        .shaka-controls-button-panel {
            margin-right: 30px;
        }
        .shaka-overflow-menu-button,
        .shaka-fullscreen-button {
            display: none;
        }
        .player_expCom {
            top: 0;
            bottom: 12px;
            margin-bottom: 2.5%;
            background-color: transparent;
        }
        button.subtitles {
            color: $primary;
        }
    }
    &:fullscreen {
        .player_expCom {
            display: none;
        }
    }
    .shaka-controls-button-panel {
        display: flex;
        align-items: center;

        .shaka-pip-button {
            display: flex;
            align-items: center;
        }
    }
}
.player__tooltip {
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        font-weight: 700;
        cursor: pointer;
        svg {
            display: block !important;
        }
    }
}

// .shaka-range-container.shaka-seek-bar-container {
//     background: $primary !important;
// }
