@import '../../static/styles/dependency/variables';
@import '../../static/styles/dependency/mixins';

$report_red: #ff4d4f;
$report_green: #52c41a;
$new_primary: #1a62f2;
$border: 1px solid rgba(179, 182, 204, 0.4);
$input_bg_blue: #4e89ff0f;

.report-container {
    @include antd_select_overrides;

    padding: 0 2rem 2rem 2rem;
    background: #fafbfc;
    height: 100%;

    button {
        font-size: 14px;
        height: 36px;
    }
    .ant-select {
        // text-transform: none;
        font-size: 14px;
        font-weight: bold;

        .ant-select-arrow {
            color: $black;
        }
    }

    .ant-col {
        position: relative;
        height: 103px;
    }

    .ant-tabs-tab.ant-tabs-tab-active {
        background-color: $new_primary !important ;
        .ant-tabs-tab-btn {
            color: $white !important;
        }
    }

    .insights_tab {
        .ant-tabs-tab.ant-tabs-tab-active {
            background-color: $white !important ;
            .ant-tabs-tab-btn {
                color: $new_primary !important;
            }
        }
    }

    table {
        border: $border;
        th {
            background-color: $white !important;
            height: 60px;
            color: $echoblue !important;
        }
        tr {
            &:hover {
                &:not(.ant-table-expanded-row) td {
                    background: rgba(179, 182, 204, 0.13);
                }

                cursor: pointer;
                button {
                    display: block;
                }
            }
        }
        td {
            height: 60px;
        }
    }
    .action_buttons_container {
        margin-top: 20px;
    }
}

.auditor_rep_drawer {
    .ant-drawer-header-title {
        display: flex;
        flex-direction: row-reverse;
        svg {
            transform: scale(1.5);
        }
    }
    .ant-drawer-footer {
        border-top: none !important;
    }
}

.audit_type_select {
    width: 128px;
    .ant-select-selector {
        border-radius: 5px !important;
        height: 36px !important;
        justify-content: center;
        align-items: center;
        .ant-select-selection-item {
            font-size: 12px;
            color: #333;
            text-transform: none;
        }
    }
}

.report_green_color {
    color: $report_green;
}

.report_red_color {
    color: $report_red;
}

.textBlue {
    color: $new_primary;
}

.bgWhite {
    background-color: $white;
}

.bgRed {
    background-color: $report_red;
}

.bgGreen {
    background-color: $report_green;
}

.red_ledger {
    overflow: hidden;
    &:before {
        content: '';
        height: 100%;
        position: absolute;
        width: 6px;
        background-color: $report_red;
        top: 0;
        left: 0;
        overflow: hidden;
        margin-left: 0px;
    }
}

.ant-select-dropdown {
    border: 1px solid $echoblue;

    // .ant-select-item {
    //     text-transform: none !important;
    // }
}

.file_name_container {
    padding: 16px;
    width: 100%;
    border: $border;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 4px;
}

.report_drawer {
    .ant-select-selector,
    textarea {
        background-color: $input_bg_blue !important;
    }
}

.width290 {
    width: 290px;
}

.pointerEventNone {
    pointer-events: none;
}

.hide {
    display: none;
}

.ai_card_container {
    margin-bottom: 40px;
    .ai_card {
        height: 118px;
        overflow: hidden;

        .section_top {
            background-color: $new_primary;
            height: calc(100% - 39px);
            width: 100%;
        }
        .section_bottom {
            height: 39px;
            width: 100%;
            bottom: 0;
        }
        .circle {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            width: 140px;
            height: 140px;
            right: -70px;
            &:after {
                content: '';
                background: $new_primary;
                width: 70px;
                height: 70px;
                position: absolute;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                top: 35px;
            }
        }
    }
}

.insights_banner_container {
    position: absolute;
    top: -41px;
}

.insights_banner {
    height: 52px;
    width: 312px;
    max-width: 312px;
    border-radius: 6px;
}

.insightsTable {
    margin-top: 60px;
}

.textBlack {
    color: $black;
}

.category_insights_container {
    border: $border;
    border-radius: 8px;
    position: relative;
    .ant-layout-header {
        border-bottom: $border;
        height: 51px;
        div {
            position: absolute;
            top: -4px;
        }
    }

    table {
        border: none;
    }

    li.ant-menu-item {
        margin: 0 !important;
        min-height: 58px !important;
        vertical-align: middle;
        white-space: normal;
        height: auto;
        line-height: 20px;

        span {
            display: table-cell;
            vertical-align: middle;
            line-height: normal;
            min-height: 58px;
            height: 58px;
            color: $dove_gray;
        }

        &:after {
            transform: scaleX(5);
        }
    }

    .ant-menu-item-selected {
        span {
            color: $new_primary !important;
        }
    }
}

.datepicker {
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 10;
    color: $textgrey;
    box-shadow: 0rem 0.6875rem 1.9375rem -0.5625rem rgba(0, 0, 0, 0.75);

    .daterange {
        // Styles for the date range picker.
        border: none;
    }
}

.duration__select {
    width: 150px;
}

.auditor_list_table {
    .ant-table-content {
        overflow-x: hidden !important;
    }
    table {
        border-collapse: separate;
        border-spacing: 0 1em;
        background-color: #fafbfc;
        border-style: none;
        max-width: 100%;
        overflow: hidden;
        tr {
            background-color: hsl(0, 0%, 100%);
            td {
                div {
                    text-align: center;
                }
                border-top: 1px solid #99999933;
                border-bottom: 1px solid #99999933;
                &:first-of-type {
                    border-bottom-left-radius: 6px;
                    border-top-left-radius: 6px;
                    border-left: 1px solid #99999933;
                    div {
                        &.text-left {
                            text-align: left;
                        }
                    }
                }
                &:last-of-type {
                    border-bottom-right-radius: 6px;
                    border-top-right-radius: 6px;
                    border-right: 1px solid rgba(153, 153, 153, 0.2);
                }
            }
            box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.05);
        }
        thead {
            th {
                background-color: #9999991a !important;
                font-weight: 600;
                color: #333 !important;
                border-top: 1px solid #9999991a;
                border-bottom: 1px solid #9999991a;
                div {
                    text-align: center;
                }
                &:first-of-type {
                    border-bottom-left-radius: 6px;
                    border-top-left-radius: 6px;
                    border-left: 1px solid #9999991a;
                    div {
                        text-align: left;
                    }
                }
                &:last-of-type {
                    border-bottom-right-radius: 6px;
                    border-top-right-radius: 6px;
                    border-right: 1px solid #9999991a;
                }
            }
        }

        tbody {
            .ant-table-cell::after {
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 1.6em;
                background-color: #99999933;
                transform: translateY(-50%);
                transition: background-color 0.3s;
                content: '';
            }
        }
        .ant-table-cell {
            .ant-typography-ellipsis {
                max-width: 250px;
                &.team_tag {
                    max-width: 120px;
                }
            }
        }
    }
}
.audit_cards_container {
    display: flex;
    justify-content: flex-start;
    @media (max-width: 768px) {
        gap: 6vw;
    }

    @media (max-width: 1200px) {
        gap: 4.5rem;
    }
    gap: 3vw;
}
