@import '../../../static/styles/dependency/mixins';
@import '../../../static/styles/dependency/variables';

.coaching-container {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    gap: 32px;
    padding: 34px 34px 26px 36px;

    .coaching-cards {
        background-color: #fff;
        border: 1px solid rgba(153, 153, 153, 0.2);
        border-radius: 6px;
        padding: 28px 15px 26px 33px;
    }

    .coaching-ataintion {
        margin-top: 22px;
    }

    .right-section {
        padding: 42px 15px 26px 36px;

        .sort-btn {
            background: #fff;
            border: 1px solid rgba(153, 153, 153, 0.2);
            border-radius: 5px;
            outline: none;
            padding: 8px 12px;
        }

        .course-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
            margin: 36px 0;

            &.internal-course-container {
                grid-template-columns: repeat(5, 1fr);

                .heading {
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .video-container1 {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 6px;
            margin: auto;
            position: relative;

            .video-container {
                margin: auto;
                max-width: 100%;
                min-height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                max-height: auto;

                .shaka-video {
                    max-height: 224px;
                    border-radius: 6px;
                }
            }
        }
    }
}

.full-screen {
    display: flex;
    border-radius: 6px;
    position: relative;
    height: 100%;

    .video-container {
        margin: auto;
        max-width: 100%;
        min-height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        max-height: 100%;

        .shaka-video {
            max-height: 100%;
            border-radius: 6px;
        }
    }
}

.vedio-thambnail {
    position: absolute;
    left: 1.25em;
    bottom: 1.5em;
    right: 1.25em;

    .heading {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.play-btn {
    cursor: pointer;

    svg path {
        fill: $mine_shaft;
        stroke: none;
    }

    svg circle {
        stroke: none;
    }
}

.vedio-thambnail-modal {
    position: absolute;
    left: 36px;
    top: 39px;
    right: 36px;
    z-index: 999;
}

.coaching_video_player .ant-modal-body {
    padding: 0;
    max-height: 675px;

    .shaka-seek-bar-container,
    .shaka-current-time {
        display: none;
    }

    .shaka-settings-menu button:nth-child(5) {
        display: none;
    }
    .shaka-settings-menu button:nth-child(6) {
        display: none;
    }
    .shaka-settings-menu button:nth-child(7) {
        display: none;
    }
    .shaka-settings-menu button:nth-child(8) {
        display: none;
    }
}

.parameterBar {
    border-radius: 6px;
    padding: 24px 20px 23px 27px;
    background-color: $blur_gray;
    margin-top: 18px;

    .parameter {
        height: auto;
        line-height: 19px;
        font-weight: 600;
    }

    .para_percentile {
        min-width: fit-content;
        margin-left: 15px;
    }

    .bar {
        height: 8px;
        background: $solitude;
        border-radius: 5px;

        .bar-progress {
            background-color: #4e89ff;
            height: 8px;
            border-radius: 5px;
        }
    }
}

.parameter-card {
    padding: 24px 24px 24px 30px;
    margin: 16px 0 14px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    // border-left: 6px solid $bitter_sweet

    &.active {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        border-right: 1px solid $primary;
    }
}

.clock-icon {
    color: $primary;
    padding-right: 27px;
}

.finish-btn1 {
    .ant-btn {
        margin-top: 6px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background-color: #ebebeb;
        border-radius: 6px;
        padding: 15px 20px;
        border: none;
        height: auto;
    }
}

.finish-btn2 {
    .ant-btn {
        margin-top: 6px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        padding: 15px 20px;
        border-radius: 6px;
        border: none;
        height: auto;
    }
}

.completion-card-container {
    position: relative;

    .completion-card {
    }

    .close-btn1 {
        position: absolute;
        top: 28px;
        right: 33px;
        cursor: pointer;
        transform: scale(0.8);
    }
}

.close-btn {
    .ant-btn {
        border-radius: 6px;
        padding: 15px 28px;
        font-size: 16px;
        font-weight: 600;
        height: auto;
    }
}

.coaching_header_container {
    border-bottom: 1px solid $solitude;
}

.custom_tabs_container {
    position: relative;

    .count_container {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $tab_bg;
        top: 18px;
        right: 0;

        &.active {
            color: $primary;
            background: #1a62f21a;
        }
    }
}

.all_coaching_session_container {
    height: calc(100% - 140px);
}

.session_card {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    border: 1px solid rgba(153, 153, 153, 0.2);
    width: 338px;
    height: 230px;
}

.Module_status {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.card_container {
    .router_link {
        text-decoration: none;
        color: $dove_gray;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: calc(100% - 135px);
    cursor: pointer;
}

.vedio_card {
    border-radius: 6px;
    // border: 1px solid $solitude;
    min-width: 235px;
    // max-height: 224px;
    cursor: pointer;

    img {
        border-radius: inherit;
    }
}

// .resumeSession_card {
//     border-radius: 12px;
//     background-color: #fff;
//     box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
//     width: 837px;
//     border: 1px solid;
//     border-image-source: linear-gradient(92.21deg, #195EE7 0%, #F93F78 99.48%);
// }

// .new_session_card {
//     border-radius: 12px;
//     background-color: #fff;
//     box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
//     border: 1px solid $primary;
//     width: 837px;
// }

.finalSessionCard {
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    border-radius: 12px;
    min-width: 388px;
    background-color: #fff;
    border: 1px solid rgba(153, 153, 153, 0.2);
}

.completeBtn {
    border-radius: 100px;
}

// .pendingBtn {
//     border-radius: 100px;
// }

.right_section {
    .ant-btn {
        border-radius: 6px;
        border: 0.5px solid $primary;
        height: auto;
        color: $primary;
        padding: 12px;
    }
}

.month_heading {
    .line {
        display: flex;
        align-items: center;
        background-color: inherit;
        position: relative;
    }

    .line::after {
        content: '';
        position: absolute;
        background-color: rgba(153, 153, 153, 0.2);
        height: 1px;
        width: 93%;
        right: 0px;
    }
}

.filterBtn {
    border: 1px solid $solitude;
    border-radius: 4px;
    max-height: 36px;
    cursor: pointer;
}

// @media (max-width: 1500px) {
//     .FilterSelectDropdown {
//         max-width: 80px !important;
//         width: 80px !important;
//     }
// }
.FilterSelectDropdown {
    max-width: 128px;
    width: 128px;
    height: 36px;
    text-transform: capitalize !important;
    font-weight: 600;
    overflow: hidden;

    .ant-select-selector {
        height: 100% !important;
    }

    .ant-select-selection-item {
        width: 10px !important;
        overflow: hidden !important;
        margin-top: 3px;
    }

    @include flex(flex, column, center, center);

    .ant-select-dropdown {
        display: none;
    }

    .ant-select-selector {
        border-radius: 5px !important;
        padding: 0px 10px !important;
        font-size: 12px;
        height: 100%;
        width: 100%;
        border: 1px solid rgba(153, 153, 153, 0.2);

        .ant-select-selection-item {
            // display: flex;
            // align-items: center;
            padding-top: 3px;
            color: $dove_gray !important;
        }
    }

    .ant-select-selection-item {
        padding-top: 0px !important;
    }
}
