@import "../../static/styles/dependency/variables";
@import "../../static/styles/dependency/mixins";

.invdl__topbar {
    padding: 18px 14px;
    padding-right: 22px;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid $solitude !important;
    margin-top: 0;
    border-radius: 4px;
    background-color: $white;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

    .timeline_btn {
        border-radius: 5px;
        width: 187px;
        border: 1px solid $solitude;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: $primary;
        height: 39px;
        font-weight: 600;
        transition: all 0.3s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px 10px 0px 0px;

        &.active,
        &:hover {
            background-color: $primary;
            color: $white;
            border: 1px solid $primary;
        }
    }

    &--left {
        flex: 1;

        .callname {
            font-size: 22px;
            font-weight: 700;
        }

        .edit-callname {
            flex: 1;
            max-width: 500px;
        }
    }
}

.invdl__content {
    height: 100%;
    display: flex;
    // max-width: 1300px;
    transition: all 0.3s ease;
    width: 100%;

    .tag_transcripts {
        display: flex;
        flex-direction: column;

        .tag_transcripts_container {
            border: 1px solid #1a62f2;
            border-radius: 6px;

            overflow-y: scroll;
        }
    }

    // &.open_drawer {
    //     .invdl__content--left {
    //         width: 50%;
    //     }
    //     .invdl__content--rightContent {
    //         width: 50%;
    //     }
    // }
    &--blockSeparator {
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 30;
        height: 20px;
        width: 100%;
        flex-shrink: 0;
    }

    &--left {
        padding-top: 18px;
        padding-right: 18px;
    }

    &--rightContent {
        margin: 0.75rem 0px;
        box-shadow: none !important;
    }

    &--left {
        width: 60%;
        background-color: $white;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        // overflow: auto;
        .invdl__left--moreOptionsBtn {
            color: #999;
            border: none;
            padding-right: 10px;
            margin: 0 !important;
        }

        .invdl__content--leftPlaceHolder {
            flex-shrink: 0;
            // transition: 0.3s ease all;
        }
    }

    &--leftBottom {
        // margin-top: 18px;
        border-radius: 4px;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-right: -4px;
        padding-right: 4px;
    }

    &--right {
        background-color: #fff;
        width: 40% !important;
        flex: 1;
        position: relative;
        display: flex;
    }

    &--rightContent {
        border-radius: 4px;
        border: 1px solid rgba(153, 153, 153, 0.2);
        display: flex;
        flex-flow: column;
        flex: 1;
    }

    .convin_tag {
        border-radius: 4px;
    }

    .invdl__left {
        &--tabs {
            flex-shrink: 0;
            display: flex;
            gap: 44px;
        }
    }

    .invdl__left,
    .invdl__right {
        &--tabbar {
            padding: 8px 20px;
            border-radius: 4px 4px 0px 0px;
            background-color: $white;
            margin-bottom: 2px;
            border-bottom: 1px solid $solitude;
        }

        &--content {
            // overflow-y: auto;
            flex: 1;
        }
    }

    .invdl__left {
        &--content {
            display: flex;
            flex-direction: column;
        }

        &--tabbar {
            padding-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $solitude;
            margin-bottom: 0;
            background-color: $white;
            position: sticky;
            top: 0px;
            // background: $primary;
            z-index: 12;

            .transcript__downloadBtn {
                margin-left: 10px;
                width: 32px;
                height: 32px;
                border-radius: 6px;
                flex-shrink: 0;
                background: rgba(26, 98, 242, 0.102);
                border: none;
            }
        }

        &--search {
            max-width: 300px;

            .ant-input-affix-wrapper {
                background-color: rgba(153, 153, 153, 0.102);
                border-color: rgba(153, 153, 153, 0.122);
            }

            .ant-input {
                background-color: transparent;
                border-radius: 6px 0 0 6px;

                @include custmd {
                    padding: 2px 11px;
                    height: 28px;
                }
            }

            .ant-btn {
                border-color: rgba(153, 153, 153, 0.122);
                border-radius: 0 6px 6px 0 !important;
                border-left: none;
                background: rgba(153, 153, 153, 0.102);
                box-shadow: none !important;
            }
        }
    }

    .invdl__right--tabbar {
        min-width: 390px;
        letter-spacing: 0;
        padding: 20px 8px 12px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        gap: 12px;

        button {
            padding: 0 10px 0 10px;
            flex-shrink: 0;
        }
    }

    .invdl__right--content {
        overflow-y: auto;
        background-color: $white;
        // border: 1px solid $solitude;
        // border-top: 0;
    }

    .indvl__tab {
        color: $dove_gray;
        font-size: 16px;

        // min-width: 100px;
        text-align: center;

        @include custlg {
            font-size: 14px;
        }

        &.active {
            font-weight: 600;
            color: $primary;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 4px;
                background: $primary;
                display: block;
                border-radius: 40px 40px 0 0;
                position: absolute;
                left: 0;
                bottom: -12px;
            }
        }
    }

    .individual.main_player.video-container {
        min-height: auto;
        max-height: 35vh;
        width: 100%;

        .shaka-video {
            max-height: 35vh;
        }
    }

    .limaBg {
        background-color: $lima;
    }

    .orngBg {
        background-color: $newOrange;
    }

    .redBg {
        background-color: $bitter_sweet;
    }

    .individualcall-overview-stats-details-legends .topic_name--btn {
        color: $dove_gray;
        font-size: 14px;
        padding: 0 16px 0 0;
        margin: 0;
    }
}

.invdl__drawer {
    width: 0;
    min-width: 0;
    // transition: 0.3s all ease;
    // position: absolute;
    // top: 0;
    // right: 0;
    // height: 100%;
    // z-index: 10;
    box-shadow: none !important;

    .ant-checkbox + span {
        color: #666666;
    }

    &.drawer_open {
        @include hover;
        width: 100%;
        min-width: 390px;
        padding: 18px 0px;

        // display: flex;
        // .invdl__drawer--backdrop {
        //     width: 60%;
        //     max-width: 770px;
        //     height: 100%;
        //     background-color: rgba($color: #000000, $alpha: 0.25);
        // }
        .drawer_container {
            background-color: $white;
            border: 1px solid #99999933;
            border-radius: 4px;
            flex: 1;
            height: 100%;
            display: flex;
            flex-flow: column;

            .header.ant-btn {
                margin-left: auto;
                font-size: 22px;
                font-weight: 700;
                padding: 0;
            }

            .feedbackHeader {
                position: sticky;
                top: 0;
                z-index: 10;
                background-color: $white;
                border-bottom: 1px solid rgba(179, 182, 204, 0.3);
            }

            .feedback {
                &-wrapper {
                    &--inner {
                        height: 100%;
                        overflow: auto;
                        scrollbar-width: thin;
                        padding: 0 1rem 1rem;
                    }
                }

                &-card {
                    box-shadow: 0 0.325rem 1.25rem 0 rgba(77, 88, 112, 0.22);
                    margin-top: 1rem;
                    padding: 8px;
                    border-radius: 0.5rem;

                    @include custmd {
                        padding: 8px 4px;
                    }

                    .label {
                        font-size: 0.875rem;
                        color: $echoblue;
                        width: 100%;

                        @include custmd {
                            font-size: 10px;
                        }
                    }
                }

                &-question {
                    border-bottom: 0.125rem solid $surface;

                    p {
                        padding: 0 1rem 0.5rem;
                    }
                }

                &-ratings {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    &-scale,
                    &-boolean {
                        display: flex;
                        flex-wrap: wrap;

                        &.all {
                            flex-wrap: wrap;

                            .ratings {
                                width: 100%;
                                padding-left: 1rem;
                            }

                            .label-yes,
                            .label-no {
                                margin-left: 0.5rem;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;

                                .hollow.feebackBtn.showFeedback {
                                    margin-left: 0;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &-writenote {
                    display: flex;
                    resize: none;
                    padding: 1rem;
                    margin-top: 1rem;
                    border-top: 0.125rem solid $surface;
                    position: relative;

                    @include custmd {
                        margin-top: 8px;
                        padding: 4px;
                    }

                    textarea {
                        width: 100%;
                        resize: none;
                        border: 0.0625rem solid $primary;
                        padding: 1rem;
                        padding-right: 2rem;
                        font-size: 0.875rem;
                        font-family: "ProximaNova", Arial, Helvetica, sans-serif !important;
                        border-radius: 0.5rem;
                        min-height: 5rem;

                        @include custmd {
                            padding: 4px;
                            font-size: 10px;
                            min-height: 50px;
                        }
                    }
                }

                &-writeNotesave {
                    position: absolute;
                    bottom: 1.1rem;
                    right: 1.1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $success;
                    background: transparentize($color: $white, $amount: 0.5);
                    padding: 0.5rem;
                    border-radius: 0.5rem;

                    @include custmd {
                        bottom: 4px;
                        padding: 2px;
                        right: 4px;
                        border-radius: 2px;
                    }

                    &.saving {
                        color: $danger;
                        font-size: 0.875rem;

                        @include custmd {
                            font-size: 10px;
                        }
                    }
                }

                &-notes {
                    width: 100%;
                    padding-top: 1rem;
                    margin-top: 1rem;
                    border-top: 0.125rem solid $surface;

                    .note {
                        padding-left: 1rem;

                        .nonotes {
                            padding-left: 0;
                        }
                    }

                    &.all {
                        padding-top: 0;
                        border: 0;
                        padding-left: 0.5rem;

                        .label {
                            padding-bottom: 0;
                            font-size: 0.75rem;
                        }

                        .note {
                            font-size: 0.875rem;
                            padding-left: 1.5rem;
                        }
                    }

                    &-wrapper {
                        width: 100%;

                        .title {
                            margin-top: 1rem;
                            padding: 1rem 1rem 0;
                            border-top: 0.125rem solid $surface;
                        }
                    }
                }

                &-by {
                    display: flex;
                    padding-top: 1rem;
                    padding-left: 1rem;
                    align-items: center;
                    justify-content: space-between;

                    &-dropdown {
                        width: 10rem;

                        .dropdown select {
                            font-size: 0.875rem;
                            border-width: 1px;
                            padding: 7px 12px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }

    .feebackBtn {
        padding: 0.5rem 0.75rem;
        border-radius: 4px;
        background: $surface;
        height: auto;
        width: auto;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        color: $textgrey;
        border: 0.0625rem solid $echoblue;

        @include custmd {
            padding: 4px;
            font-size: 12px;
        }

        span,
        .fa {
            font-size: 0.875rem;

            @include custmd {
                font-size: 10px;
            }
        }

        &.active,
        &.active_yes,
        &.active_no {
            color: $white;
        }

        &.active {
            background: $primary;
            border-color: $primary;
        }

        &.active_yes {
            background: $newGreen;
            border-color: $newGreen;
        }

        &.active_no {
            background: $newRed;
            border-color: $newRed;
        }

        &.addnote {
            margin-left: 0;
            margin-right: 1rem;
        }

        &.hollow.showFeedback {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .feedback-add-note {
        margin-bottom: 0.5rem;
    }

    .auditFeedbackBtn {
        margin-left: 0;
        margin-right: 0.5rem;
    }
}

.criterias {
    width: 50%;
}

.open_drawer .criterias {
    width: 100%;
    transition: 0.3s ease all;
    padding: 14px 16px 14px 16px;
}

.audit_incomplete {
    background: $auditRed;
    color: $white;
    position: absolute;
    top: -500px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 50;

    &_info {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #00000033;
    }

    &_close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        color: $white;
    }
}

.show_audit_incomplete {
    top: 0px;
}

.audit_done_btn {
    display: flex;
    align-items: center;
    transition: all 0.2s ease;

    gap: 9px;
}

// .audit_done_btn:hover {
//     background-color: #31a55ccc !important;
//     border-color: #31a55ccc !important;
// }
.audit_btn {
    color: $mine_shaft;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid $solitude;
    transition: all 0.2s ease;
    font-size: 14px;
    height: 36px;
    text-transform: uppercase;
    background-color: $white;
    cursor: pointer;
    padding: 8px 14px;
}

.in_progress_btn {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 6px;
}

.audit_btn:hover {
    // background-color: rgba(81, 139, 255, 0.8) !important;
    // border-color: rgba(78, 137, 255, 0.8) !important;
}

#audit_note .auditWriteNote {
    bottom: 0.4rem;
    right: 0.625rem;
    padding: 0;
}

.bg_audit_red {
    background: $auditRed;
    border-radius: 6px;
}

.heatmap__stat--popover {
    .ant-popover-inner {
        border-radius: 6px;
    }

    .ant-popover-inner-content {
        width: 522px;
        padding: 22px;
    }

    .heatmap__stat--title {
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        color: #000000d9;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 18px;
    }

    .srchSummary__stats {
        font-size: 12px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        font-weight: 600;
        margin-bottom: 12px;
        color: $dove_gray;

        span:nth-child(2) {
            font-size: 14px;
        }
    }
}

.invdl__left--moreOptionsContent {
    z-index: 100 !important;
    padding-top: 0;

    .ant-popover-inner {
        border: 1px solid rgba(26, 98, 242, 0.502);
        box-shadow: 0px 4px 20px 0px #0000001a;
        border-radius: 4px;
    }

    .ant-popover-title {
        padding: 12px 12px 10px;
        font-size: 12px;
        line-height: 1;
        color: $dove_gray;
        border-bottom: 1px solid #1a62f280;
    }

    .ant-popover-inner-content {
        padding: 12px;

        .call_card_type {
            width: 100%;
            display: flex;

            .completed-call-type {
                flex: 1;

                &.ant-select:not(.ant-select-customize-input)
                    .ant-select-selector {
                    border-radius: 5px;
                    border: 1px solid $solitude;
                }

                .ant-select-selection-placeholder {
                    text-transform: capitalize;
                    color: $dove_gray;
                }

                .ant-select-arrow {
                    color: $dove_gray;
                }

                .ant-select-selection-item {
                    font-size: 12px;
                }
            }
        }
    }

    .call_card_tags {
        // margin-top: 12px;
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border: 1px dashed $solitude;
        }

        .ant-select-selection-overflow {
            flex-direction: column;

            // align-items: flex-start;
            .ant-select-selection-overflow-item {
                align-self: flex-start;
                width: 100%;

                .ant-select-selection-item {
                    width: 100%;
                    background: #1a62f233;
                    color: $primary;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 0;
                    padding: 0 8px;
                    align-items: center;
                    font-size: 12px;
                    text-transform: capitalize;

                    span:first-child {
                        flex: 1;
                        display: flex;

                        span {
                            flex: 1;
                        }
                    }
                }
            }

            .ant-select-selection-overflow-item-suffix {
                order: -1;
            }
        }
    }
}

.manual__audit {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    @include font-x-list-responsive-1500px;
    @include padding-margin-audit;

    &__header {
        padding: 21px 24px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .close_btn {
        }

        flex-shrink: 0;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__accordian {
        background-color: $white;

        .ant-collapse-content-box {
            padding: 0px !important;
        }
    }

    .critical__tag {
        background: #ff63651a;
        color: #ff6365;
        font-weight: 400;
        margin-left: 42px;
        padding: 8px;
        border-radius: 4px;
        text-transform: uppercase;
    }

    @media (max-width: 1000px) {
        .critical__tag {
            padding: 4px;
        }
    }

    .question_text {
        font-weight: 600;
        margin-left: 5px;
        padding-left: 16px;
        border-left: 1px solid #99999933;
        font-size: 14px;
        word-break: break-all !important;
    }

    .notes_textarea {
        position: relative;

        textarea {
            border: 1px solid $solitude;
            border-radius: 6px;
            font-size: 12px;
            padding: 12px 75px 12px 12px;
        }

        .close_icon {
            position: absolute;
            top: 4px;
            right: 0.625rem;
            transform: scale(0.8);
            cursor: pointer;
        }
    }

    .add_note {
        color: $dove_gray;
        font-size: 12px;
        cursor: pointer;
        font-weight: 600;
        text-decoration: underline;
        display: inline-block;

        &:hover {
            color: $primary;
        }
    }

    .violation_tag_text {
        span {
            color: #333333cc;
            font-weight: 600;
        }

        // .ant-checkbox-inner {
        //     border-color: #333333cc;
        // }
    }

    .boolean_btn_container {
        bottom: unset;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 6px;
        padding-bottom: 5px;
        max-width: 200px;
        .ant-select-selection-item {
            width: 10ch !important;
        }
        &.rating_btn_container {
            grid-template-columns: repeat(3, 1fr);
        }

        &.custom_btn_container {
            grid-template-columns: repeat(1, 1fr);
            max-width: none !important;
        }

        .button {
            border: 1px solid #66666633;
            background: #ffffff;
            border-radius: 4px;
            text-transform: uppercase;
            color: #333333cc;
            font-size: 14px;
            font-weight: 400;
            height: auto;
            cursor: pointer;

            &.active_rating {
                border: 1px solid #1a62f2;
                color: #1a62f2;
            }

            &.active_yes {
                background: #52c41a33;
                color: #52c41a;
                border: none;
            }

            &.active_no {
                background: #ff4d4f33;
                color: #ff4d4f;
                border: none;
            }

            &.active_na {
                background: #1a62f233;
                color: #1a62f2;
                border: none;
            }

            &.active_custom {
                background: #eca51d1a;
                color: #eca51d;
                border: none;
            }
        }

        .custom_select {
            min-width: 80px !important;
            display: "inline-flex";
            align-items: "center";
            justify-content: "space-between";
            padding: 0;
            height: 24px;
            text-transform: none !important;

            .ant-select-selector {
                padding: 6px 8px !important;
                display: flex;
                align-items: center;
                height: 100% !important;
                border-radius: 4px;

                .ant-select-selection-search {
                    top: 6px !important;
                    bottom: 6px !important;
                    left: 8px !important;
                    right: 8px !important;
                }

                .ant-select-selection-item {
                    line-height: normal;
                }
            }
        }

        // .option__container {
        //     text-transform: none !important;
        //     min-height: 12px !important;
        //     line-height: 12px !important;
        //     background-color: yellowgreen !important;
        // }
    }

    .tag_snippets_btn {
        border: none;
        background: #ffffff;
        border-radius: 4px;
        text-transform: uppercase;
        color: $dove_gray;
        font-weight: 600;
        text-decoration: underline;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            color: $primary;
            transition: all 0.3s ease-in;
        }

        &.active {
            border: 1px solid $primary;
            // border: 1px solid rgba(26, 98, 242, 0.3);
            // color: $primary;
            text-decoration: none;
            padding: 2px;
            line-height: normal;
        }
    }

    .submit_button_container {
        background-color: $white;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        padding: 24px;
        box-shadow: -2px -4px 20px 0px #0000000d;
    }

    .submit_button {
        height: 48px;
        width: 174px;
        box-shadow: 0px 4px 20px 0px #00000033;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700;
    }

    .arrow {
        width: 1.25rem;
        height: 100%;
        display: inline-block;
        position: relative;
        margin-left: 5px;
        transform: scale(0.8);

        span {
            top: 0.5rem;
            position: absolute;
            width: 12px;
            height: 2px;

            display: inline-block;
            transition: all 0.2s ease;

            &:first-of-type {
                left: 0;
                transform: rotate(45deg);
            }

            &:last-of-type {
                right: 0;
                transform: rotate(-45deg);
            }
        }

        &.up {
            span {
                &:first-of-type {
                    transform: rotate(-45deg);
                }

                &:last-of-type {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.callSnippets__list {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 20px 16px 20px 20px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .callSnippets__item {
        display: flex;
        border: 1px solid $solitude;
        margin-bottom: 20px;
        border-radius: 20px;

        &--popover {
            .ant-popover-inner-content {
                width: 300px;
            }

            .ant-btn {
                border-radius: 5px;
                text-transform: capitalize;
                font-size: 14px;
                font-weight: 600;
            }

            .ant-spin.ant-spin-spinning {
                top: -10px !important;
            }

            .sharer__inputWrapper {
                display: flex;

                .ant-select {
                    flex: 1;
                }
            }

            .ant-alert {
                margin-top: 12px;
                display: flex;
                align-items: center;

                .ant-alert-content {
                    text-transform: initial;
                    font-size: 14px;
                    font-weight: 600;

                    .ant-alert-message {
                        color: $black;
                    }
                }
            }
        }
    }

    .callSnippets__itemLeft {
        flex: 1;
        display: flex;
        flex-direction: column;

        &--top {
            flex: 1;
            padding: 15px 14px 10px;
            display: flex;
            align-items: center;

            .playButton {
                padding: 0;
                min-width: 30px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin: 0;

                span {
                    font-size: 18px;
                    position: relative;
                    left: 1px;
                }
            }
        }

        &--duration {
            font-size: 12px;
            line-height: 1;
            color: $dove_gray;
            border-left: 1px solid $dove_gray;
            margin-left: 4px;
            padding-left: 4px;
            display: inline-flex;
            align-items: center;
            font-weight: 600;
        }

        .card__avatar {
            font-weight: 600;
            margin-right: 8px;
        }

        &--bottom {
            padding: 18px 15px;
            border-top: 1px solid $solitude;
        }
    }

    .callSnippets__itemRight {
        display: flex;
        flex-direction: column;
        border-left: 1px solid $solitude;
        padding: 18px 15px;
        justify-content: space-between;

        .ant-btn-text {
            color: $dove_gray;
            width: 18px;
            height: 18px;
            margin: 0;
            padding: 0;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .callSnippets__itemWrapper.active {
        z-index: 2;
    }
}

.account_timeline_container {
    position: absolute;
    z-index: 100;
    width: 100%;

    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;

    &.timeline_show {
        height: 100%;
        opacity: 1;
        max-height: none;
    }

    &.timeline_hide {
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        height: 0%;
    }

    .graph_container {
        height: 245px;
        padding-top: 12px;
        width: 100%;

        background: white;
        display: flex;
        flex-direction: column;
    }
}

.graph_date_popover {
    .ant-popover-inner-content {
        padding: 0;
    }
}

.client__sentiment--card {
    .sentiment_analysis {
        background: #1b61ef33;
        height: 10px;
        width: 100%;
        border-radius: 100px;
        position: relative;
    }

    .blue_dot_scale {
        position: relative;
        width: 80%;
    }

    .text {
        transform: translate(-50%, 75%);
        width: 100px;
        position: absolute;
        text-align: center;
    }

    .white_dot {
        height: 4px;
        width: 4px;
        background: #ffffff;
        border-radius: 50%;
        transform: translate(-50%, 50%);
        position: absolute;

        &_right {
            left: 90%;
        }

        &_left {
            left: 10%;
        }

        &_center {
            left: 50%;
        }
    }

    .pointer {
        height: 20px;
        width: 20px;
        background: #1b61ef;
        border-radius: 50%;
        transform: translate(-50%, -25%);
        left: 50%;
        position: absolute;
        border: 2px solid #ffffff;
        box-shadow: 0px 4px 20px 0px #3333334d;
        z-index: 10;
    }
}

// styles for feedback form
.feedback_form {
    .feedback_title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .feedback_subtitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        padding-top: 5px;
    }

    .f_line {
        width: 100%;
        height: 1px;
        background: rgba(153, 153, 153, 0.2);
        margin-top: 20px;
    }

    .f_container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .feedback_btn {
        align-self: flex-end;
    }
}

.positive_reaction,
.negative_reaction {
    display: inline-block;
    border-radius: 4px 4px 0px 0px;
    padding: 2px 8px;
    margin-left: 4px;
    font-size: 12px;
    text-transform: capitalize;
    margin-right: 8px;
}

.positive_reaction {
    background: #43bb0a1a;

    color: #43bb0a;
}

.negative_reaction {
    background: #fc3e011a;

    color: #fc3e01;
}

.search__tag__transcript {
    background: #9999991a !important;
    border: 1px solid #9999991f !important;
    border-radius: 6px !important;
    height: 42px !important;
    width: 30% !important;
}

.toast-dark {
    .ant-message-notice-content {
        color: white;
        background: #333333e5;
        border-radius: 5px !important;
    }
}

.toast-success {
    .ant-message-notice-content {
        color: white;
        border-radius: 5px !important;
        border: 1px solid #52c41a3d;
        background: #52c41ae6;
        font-weight: 600;
        padding: 8px 60px;
    }
}

.dispute_note {
    background: #9999991a !important;
    border: none !important;
    border-radius: 6px !important;
    padding-top: 10px !important;
}

.box {
    width: 100%;

    .box_card {
        height: 62px;
        border-top-left-radius: 10px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background: linear-gradient(
            -135deg,
            transparent 25px,
            rgba(26, 98, 242, 0.1) 0
        );

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 2.2rem;
            height: 2.2rem;
            // width: 35px;
            // height: 35px;
            border-bottom-left-radius: 5px;
            background: linear-gradient(
                to bottom left,
                transparent 50%,
                rgba(26, 98, 242, 0.4) 0
            );
        }
    }

    .body_container {
        height: 245px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid rgba(153, 153, 153, 0.2);
        border-left: 1px solid rgba(153, 153, 153, 0.2);
        border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    }
}

.manual__audit__header,
.template_container {
    .ant-select-selector {
        padding: 0 !important;
    }
}

.template_option {
    .ant-select-item {
        text-transform: initial !important;
    }
}

.manual__audit__accordian {
    .ant-collapse-content {
        border: 1px solid rgba(153, 153, 153, 0.1);
    }
}

@media only screen and (max-width: 1540px) {
    .template_container {
        justify-content: flex-start;
        flex-direction: column;
    }

    // .ant-select-selector {
    //     padding: 0 !important;
    // }
}

.word_cloud {
    .ant-modal {
        width: 1145px !important;

        .ant-modal-body {
            padding: 35px !important;
        }
    }
}

body {
    .Select_dropdown_lable {
        min-width: none !important;
        max-width: 400px !important;
        width: 100% !important;
        border-radius: 4px;
        border: 1px solid #1a62f2;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    .rc-virtual-list-scrollbar-show {
        width: 5px !important;
    }

    .rc-virtual-list-scrollbar-thumb {
        background-color: $dusty_gray !important;
    }
}

.categoryScore {
    background: rgba(153, 153, 153, 0.1);
    border-radius: 2px;
    border-radius: 2px;
    padding: 7px 8px;
    line-height: normal;
}

.notestab {
    color: $dusty_gray;
    font-size: 16px;
    font-weight: 400;

    // min-width: 100px;
    text-align: center;

    @include custlg {
        font-size: 14px;
    }

    &.active {
        font-weight: 600;
        color: $primary;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 4px;
            background: $primary;
            display: block;
            border-radius: 40px 40px 0 0;
            position: absolute;
            left: 0;
            bottom: -15px;
        }
    }
}
