#SignUp_Form .ant-select-selector{
    border-radius: 5rem;
    padding: 0.25rem 0.75rem;
    padding-left: 30px;
    height:39.6px;
    
    input{
       margin-top: 4px;
       padding-left: 18px;
    }
}

.clock_icon_container{
    position: absolute;
    z-index: 10;
    top:57%;
    left: 0.75rem;
}