.addToLib,
.sharer {
    .player {
        display: flex;
        align-items: flex-start;

        &-video {
            width: 75%;
        }
    }
}

.addToLib {
    &.ant-modal {
        .ant-modal-title {
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            text-transform: capitalize;
        }

        .ant-modal-body {
            padding: 21px 40px;
            max-height: 85vh;
        }

        .form {
            padding-left: 25px;
            flex: 1;

            .error,
            .error .ant-select-selector {
                border-color: $danger;
            }

            .error-span {
                font-size: 0.875rem;
                padding-bottom: 0;
                padding-left: 1rem;
                text-align: left;
                margin-top: -0.75rem;
                margin-bottom: 0.25rem;
            }

            .form__item--title {
                font-size: 16px;
                line-height: 16px;
                color: #333;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 12px;
            }
        }
    }

    .select-folder {
        display: flex;

        .select-section {
            width: 100%;

            .ant-select-selector {
                padding: 10px 14px;
                height: 42px;
                border-radius: 5px;
                border: 1px solid $solitude;
            }

            .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
                text-transform: capitalize;
                color: #999;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                line-height: 20px;
            }

            .ant-select-selection-item {
                line-height: 21px;
            }

            .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
                height: 42px;
            }
        }

        .ant-select {
            width: 100%;
        }
    }

    .name-comment {
        .ant-input-affix-wrapper:not(.error) {
            margin-bottom: 1rem;
        }

        textarea {
            padding: 10px 14px;
            border: 1px solid $solitude;

            &::placeholder {
                text-transform: capitalize;
                color: #999;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .player-video {
        max-width: 622px;
    }

    .create-folder {
        padding: 8px 16px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        text-transform: unset;
        display: flex;
        align-items: center;

        span {
            margin: 0;
            padding: 0 !important;
            line-height: 1;
        }
    }
}

.spkrHeatmap {
    // max-width: 66%;
    margin-top: 25px;

    &__content {
        padding: 16px 16px 16px 8px;
        z-index: 10;
        position: relative;

        &--lines {
            max-height: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: -20px;
            padding-right: 10px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 11px;
        border-bottom: 1px solid $solitude;
        margin-bottom: 18px;

        &--leftIcon {
            color: $primary !important;
        }

        &--left {
            display: flex;
            align-items: center;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &--right {
            display: flex;
            align-items: center;

            .ant-input {
                width: auto;
                max-width: 102px;
                border: 1px solid $solitude;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                line-height: normal;
                padding: 8px 16px;
            }
        }
    }

    .spkrHeatmap__timeline {
        &:not(:nth-child(1)) {
            margin-top: 12px;
        }

        p {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            text-transform: capitalize;
        }

        .heatmap-container {
            padding-top: 0;
        }

        .heatmap,
        .subdivision {
            height: 0.25rem;
        }
    }

    .ant-slider {
        position: absolute;
        width: calc(100% - 10px);
        left: -4px;
        top: -8px;
        height: 100%;
        z-index: -1;

        &-rail,
        &-track {
            height: 100%;
        }

        &:hover .ant-slider-rail,
        &-rail {
            background-color: transparent;
        }

        &:hover .ant-slider-track,
        &-track {
            border-left: 2px solid $primary;
            border-right: 2px solid $primary;
            background: rgba(223, 234, 255, 0.4);
        }

        &-handle {
            border-color: $primary !important;
            width: 20px;
            height: 20px;
        }

        &-step {
            height: 100%;
        }

        &-tooltip {
            // display: none;
            margin-top: calc(100% - 10px);
        }
    }

    .ant-tooltip-inner {
        min-height: 20px;
        padding: 0.25rem;
    }

    .ant-tooltip-placement-topLeft,
    .ant-tooltip-placement-top,
    .ant-tooltip-placement-topRight {
        font-size: 11px;
    }
}

.libplayer {
    &.ant-modal {
        .ant-modal-body {
            padding: 0;
            overflow: hidden;
        }

        .ant-modal-close-x {
            color: white;
        }
    }

    // .shaka-seek-bar-container,
    // .shaka-current-time {
    //     display: none;
    // }

    .player {
        position: relative;
    }

    .stats {
        position: absolute;
        bottom: 1.5rem;
        z-index: 3;
        color: $white;
        left: 4rem;
    }
}

.sharer .video-container {
    width: 100%;
}