body {
    .collapse.active{
        visibility: visible !important;
    } 
    .ant-btn-danger{
        background-color:#ff4d4f !important
    }
    .ant-switch{
        background-color: rgba(0,0,0,0.25) !important
    }
    .ant-switch.ant-switch-checked{
        background-color: $primary !important;
    }
    .ant-empty{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ant-btn {
        text-transform: uppercase;
        font-weight: 500;

        &-link {
            color: $primary;
        }
        @include custmd {
            font-size: 12px;
            height: 28px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        &-primary {
            background-color: $primary;
        }
    }

    .anticon {
        @include custmd {
            font-size: 12px;
        }
    }

    .ant-modal-content .ant-btn {
        span:not(.anticon) {
            margin: 0;
        }

        > .anticon + span {
            padding: 0;
            margin-left: 0.5rem;
        }

        &.ant-btn-link:not(:disabled) {
            color: $primary;
        }

        &.danger {
            color: $danger;
        }
    }

    .ant-modal {
        &-title {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 600;
        }

        &-content {
            border-radius: 6px !important;
        }

        &-body {
            padding: 16px 24px;
            max-height: 70vh;
            @include overflow-auto;
        }

        &-footer {
            border: 0;
            gap: 16px;
            padding: 16px;
            button {
                border-radius: 6px !important;
                text-transform: capitalize !important;
                height: 40px;
                font-size: 16px;
            }
        }
    }

    .ant-select {
        text-transform: uppercase;

        &-multiple {
            font-size: 0.75rem;
            font-weight: 500;
            color: $taggrey;

            .ant-select-selection-item {
                background: $belowLevel;
                border-radius: 2rem;

                &-remove {
                    .anticon {
                        color: $danger;
                    }
                }
            }

            .ant-select-selector {
                border: 0;
                box-shadow: none;
            }
        }

        &-item-option {
            background: $offwhite;
        }
    }

    .ant-select-dropdown {
        border: 1px solid $echoblue;

        .ant-select-item {
            text-transform: uppercase;
        }
    }

    .ant-back-top-content {
        background-color: rgba(78, 137, 255, 0.45);
    }

    .ant-spin-dot {
        font-size: 3.125rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    .convin_checkingUpdate {
        .ant-spin-dot {
            width: 1em;
            height: 1em;
        }
    }

    .ant-spin-nested-loading > div > .ant-spin {
        .ant-spin-text {
            top: 62%;
        }

        .ant-spin-dot {
            margin-left: -1.875rem;
        }
    }

    mark.cite {
        background: yellow;
        padding: 0;
    }

    mark.mention {
        background-color: transparent;
        color: $primary;
    }

    .ant-card-head {
        text-transform: uppercase;
        padding: 0 0.5rem;
    }

    .ant-popover,
    .ant-menu-submenu-popup {
        z-index: 1060;
    }

    .ant-select-dropdown {
        min-width: 12rem !important;
    }

    &.my-calls {
        .ant-select-item {
            // font-size: 0.75rem;
            letter-spacing: normal;
        }

        .ant-select-selection-item {
            font-weight: 500;
        }
    }

    .ant-badge-status-dot {
        width: 12px;
        height: 12px;
    }

    .ant-modal-wrap {
        @include overflow-auto;
    }

    .ant-btn {
        .ant-badge-status-text {
            color: $primary;
        }
    }
    // .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    //     font-size: 12px;
    //     letter-spacing: normal;
    // }
}

/*Select scrollbar should not dissaper*/
.rc-virtual-list-scrollbar-show {
    display: block !important;
}
