.appHome {
    width: 100%;
    display: flex;
    @include scrollbar__style;

    &.widget {
        background-color: $belowLevel;
    }

    &-right {
        width: calc(100% - 80px);
        position: relative;

        @include md-down {
            width: 100%;
        }

        // @include custmd{
        //     width: calc(100% - 60px);
        // }
        &.widget {
            width: 100%;
            height: 80vh;
            max-width: 60rem;
            margin: 0 auto;
            // padding: 12px;
            align-self: center;
            @include hover;
            border-radius: 8px;
            overflow: hidden;
            background-color: $white;
        }
    }

    height: 100%;
    max-height: inherit;
    overflow: hidden;

    &-left,
    &-right {
        height: 100%;
        /*allows both columns to span the full height of the browser window*/
        display: flex;
        flex-direction: column;
    }

    &-left {
        flex-shrink: 0;
        background: $white;
        box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);
        position: relative;
        z-index: 10;
        width: 5rem;

        &-top {
            width: 100%;
            background: $white;
            flex-shrink: 0;

            &-logo {
                display: flex;
                justify-content: center;
                height: 64px;
                align-items: flex-start;

                @include custmd {
                    height: 40px;
                }

                img {
                    max-width: 100%;
                    width: 80px;

                    @include custmd {
                        width: 50px;
                    }
                }
            }
        }

        &-bottom {
            flex-grow: 1;
            @include overflow-auto;
            background: $white;
            width: 100%;
        }
    }

    &-right {
        &-top {
            flex-shrink: 0;
            display: inline-flex;
            position: relative;
            z-index: 5;
            box-shadow: 0 0.1875rem 0.375rem 0 rgba(140, 159, 168, 0.1);
        }

        &-bottom {
            flex-grow: 1;
            overflow: hidden;
            height: 100%;
        }
    }

    .view {
        height: 100%;

        &-container {
            display: flex;
            flex-flow: column;
            height: 100%;

            .subnav {
                &-container {
                    flex-shrink: 0;
                    height: 3rem;
                    box-shadow: 0 0.375rem 0.75rem 0 rgba(77, 88, 112, 0.1);
                    background: $white;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    @include overflow-auto;
                }

                &-option {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: $echoblue;
                    text-transform: uppercase;
                    min-width: 6rem;
                    margin-right: 0.5rem;
                    padding: 0 0.5rem;
                    text-align: center;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    position: relative;
                    justify-content: center;
                    background: linear-gradient(to top,
                            $surface 50%,
                            white 50%);
                    background-size: 200% 200%;
                    transition: all 0.2s ease-out;

                    &:first-of-type {
                        margin-left: 0.5rem;
                    }

                    &:hover {
                        background-position: 0 100%;
                    }

                    &-label {
                        &.active {
                            color: $primary;
                        }
                    }

                    &-active {
                        width: 5.3125rem;
                        height: 0.4375rem;
                        background: $primary;
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        border-top-right-radius: 0.375rem;
                        border-top-left-radius: 0.375rem;
                    }
                }
            }

            .content-container {
                flex: 1;
                @include overflow-auto;
            }
        }
    }
}


.logout-dialog {
    .ant-modal-content {
        border-radius: 12px !important;
    }

    .ant-modal-close-icon {
        transform: scale(1.25);
        color: #666;
    }

    .ant-modal-body {
        padding-top: 3rem;
        padding-bottom: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logout-icon {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(255, 99, 101, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                transform: scale(1.2);
                stroke: #FF6365;
            }
        }

        .logout-text {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .ant-modal-footer {
        justify-content: center;
        display: flex;
        grid-gap: 4px;
        padding-bottom: 2.75rem;

        button {
            width: 114px;
            height: 40px;
            padding: 12px 40.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            font-weight: 600;

            &.ant-btn-primary {
                border-radius: 6px;
                border: 1px solid #ff636580;
                background: #FF6365;
            }

            &.ant-btn-default {
                border-radius: 6px;
                border: 1px solid rgba(153, 153, 153, 0.50);
                color: #666;

                &:hover {
                    color: #FF6365
                }
            }
        }
    }

}