.dove_gray_cl {
    color: $dove_gray;
}

.dove_gray_bg {
    background-color: $dove_gray;
}

.white_bg {
    background-color: $white;
}

.mine_shaft_cl {
    color: $mine_shaft;
}

.good_green_cl {
    color: $goodColor;
}

.good_green_bg {
    background-color: $goodColor;
}

.lima_cl {
    color: $lima;
}

.good_light_green_bg {
    background-color: $good_light_green;
}

.lima_bg {
    background-color: $lima;
}

.lima_bg50 {
    background-color: $lima50;
}

.silver_bg {
    background-color: $silver;
}

.silver_cl {
    color: $silver;
}

.primary_bg {
    background-color: $primary !important;
}

.primary_cl {
    color: $primary;
}

.primary_cl--important {
    color: $primary !important;
}

.dusty_gray_cl {
    color: $dusty_gray;
}

.dusty_gray_1a_cl {
    color: $dusty_gray;
}

.dusty_gray_1a_bg {
    background: $dusty_gray_1a;
}

.dusty_gray_bg {
    background-color: $dusty_gray;
}

.dusty_gray_cl--important {
    color: $dusty_gray !important;
}

.robin_egg_blue_bg {
    background-color: $robin_egg_blue;
}

.white_cl {
    color: $white;
}

.bitter_sweet_cl {
    color: $bitter_sweet;
}

.bitter_sweet_bg {
    background: $bitter_sweet;
}

.bitter_sweet_bg50 {
    background: $bitter_sweet50;
}

.bitter_light_cl {
    color: $bitter_light;
}

.bitter_light_bg {
    background-color: $bitter_light;
}

.goodcolor_bg {
    background-color: $newGreen;
}

.goodcolor_cl {
    color: $newGreen;
}

.newgreen_bg {
    background-color: $newGreenBg;
}

.paleyellow_cl {
    color: $paleYellow;
}

.newpurple_cl {
    color: $newpurple;
}

.magenta_cl {
    color: $magenta;
}

.navyblue_cl {
    color: $navyBlue;
}

.newrobin_blue_cl {
    color: $newrobin_blue;
}

.goodblue_cl {
    color: $newBlue;
}

.goodblue_bg {
    background-color: $newBlueBg;
}

.badcolor_bg {
    background-color: $newRed;
}

.averagecolor_bg {
    background-color: $newOrange;
}

.average_orng_cl {
    color: $newOrange;
}

.average_orng_bg {
    background-color: $newOrange;
}

.average_orng_bg50 {
    background-color: $newOrange50;
}

.black_cl {
    color: $black;
}

.ghost_white_cl {
    color: $ghost_white;
}

.ghost_white_bg {
    background-color: $ghost_white;
}

.sonic_silver_cl {
    color: $sonic_silver;
}

.sunshade_bg {
    background: $sunshade;
}

.silver_bg {
    background: $silver;
}

.lightsky_blue_bg {
    background: $lightBlue;
}

.solitude_bg {
    background-color: $solitude;
}

.newBlue_bg {
    background-color: $blueBackground;
}

.newBlue_bg10 {
    background-color: $blueBackground10;
}

.chocolate_brown_cl {
    color: $chocolate_brown;
}

.skyblue_light_cl {
    color: $skyblue_light;
}

.dusty_gray_bg_10_percent {
    background: #9999991a;
}
