.deals{
	&-container{
		height: 100%;
		display: flex;
		@include overflow-auto;
		flex-flow: column;
		margin: 1rem;
	}

	&-topbar{
		background: $white;
		padding: 1.5rem 0;
		display: flex;
		box-shadow: 0 0.1875rem 0.375rem 0 rgba(140, 159, 168, 0.1);

		.label{
			padding: 0;
		}
	}

	&-bottom{
		height: auto;
		display: flex;
		padding: 1rem;
		flex-flow: column;
	}
}