/*
    Dropdown List.
*/

// Global Select List. Same as an Input list.

.select{
	text-transform: capitalize;
	@extend .input;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	background-color: white;
	height: auto;

	&.error{
		// This was giving an unordered compilation during @extend.
		// So rewrote it.
		border-color: $danger;
	}

	&.filled, &.darkselect{
		// Yet again, unordered compilation during @extend.
		background : $echoblue;
		color : $textgrey;
		border-color: $echoblue;
	}
	&:disabled {
		opacity: 0.7;
		background: $echoblue;
	}
}

// Dropdown List Styles.

.dropdown {
	// Overwriting some input styles.

	display: inline-block;
	display: flex;
	align-items: center;

	.input {
		padding: 1rem 1.2rem;
		font-size: 1.1rem; // A little smaller text for a large form.
		height: auto;
	}

	i.fa{
		margin-left: -1.1rem;
		margin-top: -0.35rem;
	}

	// As .select is extending .input now, it will automatically be compiled for .dropdown along with .input.
}

/* Dropdown Menus */

.dropdown-list{
	background: transparent;
	position: relative;
	min-width: 8.4375rem;

	&-toggler{
		background: $belowLevel;
		padding: 0.5rem 0.6rem;
        color: $darkergrey;
        max-width: 8rem;
		cursor: pointer;
		font-weight: 600;
		border-radius: 1.6875rem;
        display: flex;
        align-items: center;
		font-size: 0.75rem;
        &-label{
            text-align: center;
            flex : 1;
            text-transform: uppercase;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
	}

	&-options{
		background: $white;
		position: absolute;
		min-width: 9rem;
		max-height: 20rem;
		overflow-x: hidden;
		@include overflow-y-auto;
		top: 2.5rem;
		box-shadow: 0 0.625rem 1.25rem 0 rgba(77, 88, 112, 0.4);
		z-index: 11;
		border-radius: 0.4rem;

		&-donebutton{
			padding: 0.5rem;
			height: auto;
			color: $primary;
			text-align: right;
			cursor: pointer;
			border-radius: 0;
		}
	}

	&-option{
		color: $textgrey;
		padding: 0.5rem;
		font-size : 0.75rem;
		cursor: pointer;
		display: flex;
		text-transform: uppercase;

		&-label{
			flex : 1;
		}
	}

	&-option:nth-child(even){
		background: $belowLevel;
	}

	&-label-active{
		color: $primary;
		font-weight: 600;
		white-space: nowrap;
	}

	&-check-container{
		flex : 1;
		text-align: center;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
        
		.dropdown-checkmark {
			position: absolute;
			height: 0.8rem;
			width: 0.8rem;
			background-color: $white;
			border: 0.1rem solid $primary;
            border-radius: 0.2rem;
            
            &.active{
                background: $primary;
            }
        }
	}
}