// Styles for the Heat Map Component.

.heatmap {
    background: transparentize($color: #999, $amount: 0.9);
    margin: 0;
    padding: 0;
    border-radius: 40px;
    height: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0.25rem 0;

    &-container {
        display: flex;
        flex-flow: column;
        padding-top: 0.5rem;
    }

    &.nobg {
        background: transparent;
        align-items: flex-end;
    }

    .subdivision {
        height: 100%;
    }

    .pin {
        width: 0.6875rem;
        border-radius: 50%;
        height: 0.6875rem;
        background: $bordergrey;
        border: 0.07rem solid $pinborder;
    }

    .timebar {
        position: absolute;
        background: transparent;
        height: 4px;
        z-index: 2;
        cursor: pointer;

        &:hover {
            background: $primary;
        }
    }

    .communication {
        height: 1.3rem;
        font-size: 0.6875rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        // border-radius: 0.7rem;
        padding: 0 0.35rem;
        background: $textgrey;
        color: $white;
        position: absolute;
        &::after {
            content: ' ';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -0.25rem;
            border-width: 0.25rem;
            border-style: solid;
            border-color: transparent transparent $textgrey transparent;
        }
        .fa {
            font-size: 0.6875rem;
        }
    }

    &.communicationsec {
        .communication::after {
            top: 100%;
            border-color: $textgrey transparent transparent transparent;
        }
    }

    &-timeline {
        position: relative;
        display: flex;
        height: 1.2rem;
        display: none;
        .timestop {
            position: absolute;
            font-size: 0.6875rem;
            transform: rotate(-70deg);
            font-weight: 500;
            color: $echoblue;
            top: 1rem;
        }
    }

    .callerbar {
        background: $callerteal;
    }

    .receiverbar {
        background: $receiverpink;
    }
}

.momment_heatmap {
    height: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0.25rem 0;

    &-container {
        display: flex;
        flex-flow: column;
        padding-top: 0.5rem;
    }

    &.nobg {
        background: transparent;
        align-items: flex-end;
    }

    .subdivision {
        height: 100%;
    }

    .pin {
        width: 0.6875rem;
        border-radius: 50%;
        height: 0.6875rem;
        background: $bordergrey;
        border: 0.07rem solid $pinborder;
    }

    .timebar {
        position: absolute;
        background: transparent;
        height: 4px;
        z-index: 2;
        cursor: pointer;

        &:hover {
            background: $primary;
        }
    }

    .communication {
        height: 1.3rem;
        font-size: 0.6875rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        // border-radius: 0.7rem;
        padding: 0 0.35rem;
        background: $textgrey;
        color: $white;
        position: absolute;
        &::after {
            content: ' ';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -0.25rem;
            border-width: 0.25rem;
            border-style: solid;
            border-color: transparent transparent $textgrey transparent;
        }
        .fa {
            font-size: 0.6875rem;
        }
    }

    &.communicationsec {
        .communication::after {
            top: 100%;
            border-color: $textgrey transparent transparent transparent;
        }
    }

    &-timeline {
        position: relative;
        display: flex;
        height: 1.2rem;
        display: none;
        .timestop {
            position: absolute;
            font-size: 0.6875rem;
            transform: rotate(-70deg);
            font-weight: 500;
            color: $echoblue;
            top: 1rem;
        }
    }

    .callerbar {
        background: $callerteal;
    }

    .receiverbar {
        background: $receiverpink;
    }
}

body {
    .heatmap__popover {
        .ant-popover-content,
        .ant-popover-inner,
        .ant-popover-inner-content {
            background-color: rgba(0, 0, 0, 0.75);
            color: #fff;
            border-radius: 4px;
        }

        .ant-popover-inner-content {
            padding: 4px 8px;
        }

        > .ant-popover-content > .ant-popover-arrow {
            border-top-color: rgba(0, 0, 0, 0.75);
            border-left-color: rgba(0, 0, 0, 0.75);
        }

        .ant-btn {
            font-size: 12px;
            padding: 0 0 0 8px;
            margin: 0;
            height: auto;
            letter-spacing: 0;
        }
    }
}
