.help {
    padding: 1.875rem;
    @include overflow-auto;
    max-height: 90vh;

    // .ant-card {
    //     @include hover;
    // }

    .ant-menu-inline {
        border: 0;
    }

    .ant-card-head {
        padding: 0 1.5rem;
    }

    .tour-card {
        margin: 0.5rem;
        @include hover;

        .ant-card-meta-title {
            text-align: center;
        }
    }
}