.initial-setup {
    height: 100%;
    .ant-layout-header {
        background-color: $offwhite;
        height: auto;
        font-weight: 500;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        position: fixed;
        z-index: 1;
        width: 100%;
        box-shadow: 0rem 0rem 0.4375rem -0.125rem rgba(0, 0, 0,0.5);
    }

    .ant-steps-item-title {
        font-size: 0.875rem;
    }

    .ant-layout-content {
        margin-top: 5.625rem;
        margin-bottom: 5.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ant-layout-footer {
        background-color: $white;
        padding: 0.5rem;
        position: fixed;
        z-index: 1;
        width: 100%;
        bottom: 0;
        box-shadow: 0rem 0rem 0.4375rem -0.125rem rgba(0, 0, 0,0.5);
    }
}