.integration {
    margin: 1.5rem;
    max-width: 80rem;
    flex-flow: column;
    padding: 2rem 0;
    &-active {
        overflow: hidden;
        height: 100vh;
    }
    &-title {
        border-bottom: 0.0625rem solid $solitude;
        padding: 0 2rem;
        h3 {
            margin-top: 0;
            font-weight: 500;
        }
    }
    &-cards {
        padding: 0.5rem 2.2rem;
        &-title {
            h4 {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        &--container:not(:first-child) {
            margin-top: 1rem;
        }
        &--container:not(:last-child) {
            margin-bottom: 2.5rem;
            margin-top: 1rem;
        }
        .logos {
            display: flex;
            flex-wrap: wrap;
            .logo-card {
                margin-bottom: 0.9375rem;
                min-width: 12.5625rem;
                &:not(.disabled):hover {
                    border: solid 0.25rem #1A62F2;
                    cursor: pointer;
                }
                &-image {
                    max-height: none;
                }
            }
        }
    }
}
