.library {
    height: 100%;

    &.hide {
        display: none;
    }

    &-container {
        display: flex;
        height: 100%;

        .ant-select-multiple .ant-select-selector {
            border: 0.125rem solid $echoblue;
        }
        .ant-modal-title {
            text-transform: none;
        }
    }

    &-sidenav {
        display: flex;
        flex-flow: column;
        padding: 0;
        background: $offwhite;
        color: $textgrey;
        box-shadow: 0 0.625rem 1.25rem 0 rgba(5, 5, 5, 0.12);
        height: 100%;
        bottom: 0;
        width: 30%;
        max-width: 25%;
        z-index: 2;

        &-topbar {
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            box-sizing: border-box;
            box-shadow: 0 0.125rem 1rem 0 rgba(5, 5, 5, 0.12);

            .title {
                font-weight: 500;
                margin: 0;
                font-size: 1.25rem;
            }
        }

        &-addbtn {
            background: $primary;
            color: $white;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            border-radius: 50%;
            border: 0;
        }

        &-folder {
            padding: 1rem;
            @include overflow-auto;
            flex: 1;

            &-wrapper {
                border: 0.0625rem solid $belowLevel;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
                display: flex;
                flex-flow: column;
                position: relative;

                &.active {
                    background: $belowLevel;

                    .tag {
                        background: $echoblue;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                .library-add-subfolder {
                    position: absolute;
                    top: 0.5rem;
                    right: 1rem;
                }
            }

            &-name {
                text-transform: capitalize;
                padding-left: 0.5rem;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 0.25rem;
            }

            &-info {
                &-tag {
                    span {
                        color: $textgrey;
                    }
                }
            }
        }
    }

    &-right {
        display: flex;
        flex-flow: column;
        flex: 3;
        height: 100%;
        width: 75%;
        max-width: 75%;
        position: relative;
    }

    .ant-spin-nested-loading {
        height: inherit;

        .ant-spin-container {
            height: inherit;
            overflow: auto;
        }
    }

    &-calls-container {
        @extend .myCallContainer;
        flex-flow: column;
        flex-grow: 1;
        @include overflow-auto;
        // margin-bottom: 4rem;

        .callsCard-top-section {
            flex: 0 0 33.33%;
        }

        .ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            border-radius: 2rem;
            background: $solitude;
            font-weight: 500;
            min-width: 10rem;
        }

        .callsCard {
            position: relative;
        }

        // .call-delete {
        //     position: absolute;
        //     right: 1rem;
        //     top: 0.5rem;
        // }
    }

    &-folders {
        .ant-card-body {
            padding: 10px 20px;
        }
    }

    &-active {
        position: fixed;
        top: 20px;
        margin-left: 14px;
        display: flex;
        align-items: center;
        z-index: 20;

        .fa {
            font-size: 22px;
            color: $black;
            // padding-left: 2rem;
        }

        h3 {
            color: $black;
            padding-left: 1rem;
            text-transform: capitalize;
            margin: 0;
        }
    }
}

.create-folder-form {
    &-content {
        padding: 0 1rem;

        .check-subfolder {
            padding-left: 1rem;
            margin: 1rem 0;
        }

        .sub-folder-name {
            padding-top: 0.5rem;
        }
    }
}

.library-folders {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    .folder {
        margin: 0.5rem;
        text-transform: uppercase;
        font-weight: 500;

        &-top-name {
            max-width: 90%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: bottom;
        }
    }

    .add-folder-btn {
        display: flex;
        align-items: center;
        box-shadow: none;
        border: 2px dashed $echoblue;

        .ant-btn-icon-only.ant-btn-lg {
            width: 4rem;
            height: 4rem;

            svg {
                font-size: 2rem;
            }
        }

        .help-text {
            display: inline-block;
            vertical-align: super;
            padding-left: 1rem;
            text-transform: uppercase;
            letter-spacing: normal;
            font-weight: 500;
            color: $echoblue;
        }
    }

    .snippet-btn:not(:disabled) {
        border-color: $primary;
        color: $primary;
        @include hover;
    }
}

.breadcrumbs-container {
    padding: 1rem 3rem;
    @include hover;
    cursor: hover;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.library-meeting-container {
    max-width: 77rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;

    &.no-meetings {
        justify-content: center;
    }
}

.library-meeting.ant-card {
    background-color: $meeting-card;
    width: 22rem;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;

    .ant-card-actions {
        background-color: $meeting-actions;
        border-radius: inherit;

        li {
            &:last-of-type {
                button {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }
    }

    .name {
        display: flex;
        justify-content: space-between;

        .ant-avatar {
            margin-right: 4px;
        }

        .user {
            display: flex;
            align-items: center;
        }
    }

    .ant-card-body {
        padding: 14px 16px 10px;
        flex: 1;
    }

    .created_on {
        color: $balihai;
        font-weight: 400;
    }
}

.folder {
    &-top {
        p {
            margin: 0;
        }

        .date {
            font-size: 12px;
            text-align: right;
            font-style: italic;
            color: $balihai;
            font-weight: 400;
        }
    }

    &-creator-shared {
        padding: 8px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ant-avatar {
            margin-right: 8px;
        }

        .name {
            text-transform: capitalize;
        }

        .shared span.ant-avatar.ant-avatar-circle {
            margin-right: -4px;
        }
    }
}

.library-share-folder {
    padding: 0.25rem 1rem 1rem;

    .ant-select {
        width: 100%;
        // border: 2px solid $echoblue;
        padding: 0.25rem;
        // margin: 0 1rem;
        border-radius: 8px;
        max-width: 72%;
    }
}
