.myCallContainer {
    display: flex;

    &-nocalls {
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// .callsCard {
//     width: 95%;
//     margin: 1rem auto;
//     max-width: 62.5rem;
//     padding: 0;

//     &.active {
//         border: 0.125rem solid $primary;
//     }

//     .accessibility {
//         width: 100%;
//     }

//     &-section {
//         padding: 0.5rem 1.1875rem;
//         display: flex;
//         width: 100%;
//         border-bottom: 0.125rem solid $surface;

//         &:last-of-type {
//             border: 0;
//         }

//         @include md-down {
//             flex-wrap: wrap;
//             align-items: center;
//         }
//     }

//     &-top {
//         &-section {
//             flex: 1 1;
//             font-size: 0.875rem;
//             line-height: 1.21;
//             font-weight: normal;
//             text-transform: capitalize;
//             padding: 0 0.25rem;

//             @include md-down {
//                 width: 33.33%;
//                 flex: auto;
//             }

//             &-value {
//                 margin: 0;
//                 padding: 0.5rem 0;
//                 letter-spacing: normal;
//             }
//         }

//         &-name {
//             text-transform: capitalize;
//             font-weight: 700;

//             &-value {
//                 max-width: 10rem;
//                 text-overflow: ellipsis;
//                 white-space: nowrap;
//                 overflow: hidden;
//             }
//         }

//         &-type {
//             .callLabel {
//                 padding-left: 0.5rem;
//             }

//             &-value {
//                 max-width: 8.5rem;

//                 .dropdown-list-option {
//                     &:first-of-type {
//                         opacity: 0.4;
//                         background: $belowLevel;
//                         font-weight: 500;
//                         cursor: not-allowed;
//                     }
//                 }
//             }

//             &-input {
//                 width: auto;
//                 height: auto;
//                 padding: 0.5rem;
//                 border: 0.125rem solid $primary;
//                 max-width: 8rem;
//                 font-size: 0.75rem;
//                 transition: 0.5s all ease;
//             }
//         }

//         &-recp {
//             &-value {
//                 max-width: 10rem;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//             }
//         }
//     }

//     &-middle {
//         &-section {
//             &-value {
//                 font-size: 0.875rem;
//             }
//         }

//         &-agenda {
//             &-value {
//                 /* These are technically the same, but use both */
//                 overflow-wrap: break-word;
//                 word-wrap: break-word;

//                 -ms-word-break: break-all;
//                 /* This is the dangerous one in WebKit, as it breaks things wherever */
//                 word-break: break-all;
//                 /* Instead use this non-standard one: */
//                 word-break: break-word;

//                 /* Adds a hyphen where the word breaks, if supported (No Blink) */
//                 -ms-hyphens: auto;
//                 -moz-hyphens: auto;
//                 -webkit-hyphens: auto;
//                 hyphens: auto;

//                 .ant-typography-expand,
//                 a {
//                     color: $primary;
//                     font-weight: 500;
//                 }
//             }
//         }
//     }

//     &-bottom {
//         &-section {
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//         }

//         &-left {
//             width: 60%;

//             .cta-hollow {
//                 padding: 0.375rem 0.75rem;
//                 margin: 0.2rem;
//                 width: auto;
//                 height: auto;

//                 span {
//                     font-size: 0.6875rem;
//                 }
//             }
//         }

//         &-right {
//             width: 40%;
//             justify-content: flex-end;

//             .cta-invite {
//                 height: auto;
//                 width: auto;
//                 flex-flow: row-reverse;
//                 padding: 0.5rem 1rem;
//                 font-weight: 500;
//                 margin: 0.2rem;

//                 span {
//                     font-size: 0.6875rem;
//                     padding-left: 0.25rem;
//                     letter-spacing: normal;
//                     line-height: 1rem;
//                 }

//                 i.fa {
//                     font-size: 1rem;
//                 }

//                 &.is-processing {
//                     opacity: 0.6;
//                     cursor: not-allowed;
//                 }
//             }

//             .tag {
//                 cursor: pointer;

//                 &-label {
//                     color: $textgrey;
//                 }
//             }
//         }
//     }
// }

// .callComments {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 1.875rem;
//     padding-left: 1rem;

//     &-container {
//         padding-top: 1rem;
//         display: flex;
//         flex-flow: column;
//         width: 100%;

//         &-noComments {
//             @extend .callTags-container-notags;
//             margin-top: 1rem;
//         }
//     }

//     &-addComment {
//         display: flex;
//         flex-flow: column;
//         align-items: flex-end;

//         &-write {
//             width: 100%;
//             resize: none;
//             height: 5rem;
//             border: 0.0625rem solid $primary;
//             border-radius: 0.5rem;

//             // padding: {
//             //     top: 1.5rem;
//             //     right: 2rem;
//             //     left: 1rem;
//             //     bottom: 1rem;
//             // }

//             box-sizing: border-box;
//             font-size: 0.875rem;
//             @include Proxima;
//             font-weight: normal;
//             color: $textgrey;

//             &--multiLine .callComments-addComment-write {
//                 &__highlighter {
//                     padding: 0.5625rem;
//                 }

//                 &__input {
//                     padding: 0.5625rem;
//                     min-height: 3.9375rem;
//                     outline: 0;
//                     border: 0;
//                 }
//             }

//             &__suggestions__list {
//                 background-color: $white;
//                 border: 0.0625rem solid rgba(0, 0, 0, 0.15);
//                 max-height: 10rem;
//                 @include overflow-auto;
//             }

//             &__suggestions__item {
//                 padding: 0.3125rem 0.9375rem;
//                 border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.15);

//                 &--focused {
//                     background-color: $primary;
//                     color: $white;
//                 }
//             }
//         }

//         &-send {
//             @extend .cta;
//             max-width: 5rem;
//             padding: 0;
//             height: 2.1875rem;
//             font-size: 0.6875rem;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 1rem;
//             font-weight: 500;
//         }
//     }

//     &-showComments {
//         &-card {
//             padding-top: 1rem;
//             padding-left: 0.5rem;

//             &-user {
//                 font-size: 0.8125rem;
//                 font-weight: 500;
//                 line-height: 1.15;
//                 color: $lightgrey;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;

//                 &-time {
//                     text-transform: uppercase;
//                     font-size: 0.625rem;
//                     letter-spacing: normal;
//                 }
//             }

//             &-comment {
//                 font-size: 0.8125rem;
//                 line-height: 1.35rem;
//                 @include Proxima;
//                 white-space: pre-wrap;
//             }
//         }

//         &-more {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             padding-top: 0.75rem;
//             font-size: 0.75rem;
//             color: $primary;
//             cursor: pointer;
//             font-weight: 500;
//             text-transform: uppercase;
//         }
//     }

//     .mentions__mention {
//         background-color: transparent;
//         color: $primary;
//     }
// }

// #content-end {
//     text-align: center;
//     font-size: 1rem;
//     text-transform: uppercase;
//     padding: 1rem 0;
//     font-weight: 500;
//     background: $white;
//     margin: 0 auto;
//     border-radius: 0.375rem;
//     color: $primary;
//     width: 95%;
//     max-width: 62.5rem;
// }
