@import '../dependency/variables';
@import '../dependency/mixins';

// .calls-container {
//     display: flex;
//     flex-flow: column;
//     height: 100%;
//     color: $mine_shaft;
//     &.hide {
//         display: none;
//     }

//     nav {
//         @include hover;
//         z-index: 1;
//     }

//     .calls {
//         flex: 1;
//         display: flex;
//         @include overflow-auto;

//         .call-details {
//             width: 25%;
//             @include hover;
//             @include md-down {
//                 display: none;
//             }
//         }

//         .myCallContainer-content {
//             flex: 1;
//             padding-top: 1rem;

//             .ant-spin.ant-spin-spinning {
//                 height: 100%;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }

//         .ant-empty {
//             padding-top: 5rem;
//             text-transform: uppercase;
//         }

//         div {
//             outline: none;
//         }
//     }

//     .completed-call-type {
//         color: $labelgrey;
//         font-weight: 400;
//         letter-spacing: normal;
//         width: 8rem;

//         &.ant-select-single:not(.ant-select-customize-input)
//             .ant-select-selector {
//             border-radius: 2rem;
//             background-color: $belowLevel;
//             font-size: 0.6875rem;
//             border: 0;

//             .ant-select-selection-search-input {
//                 height: auto;
//             }
//         }

//         .ant-select-selection-placeholder {
//             color: $labelgrey;
//         }
//     }

//     .ant-menu {
//         font-weight: 600;
//         font-size: 14px;
//         text-transform: uppercase;
//         letter-spacing: normal;
//     }

//     .call-card {
//         cursor: pointer;
//     }

//     .ant-back-top {
//         left: 6.25rem;
//     }
//     .meetings_sidenav {
//         @include md-down {
//             display: none;
//         }
//     }
// }

// .call-details {
//     @include overflow-y-scroll;

//     .ant-spin-spinning {
//         display: flex;
//         height: 100%;
//         align-items: center;
//         justify-content: center;
//     }

//     .callLabel {
//         text-transform: uppercase;
//         font-size: 0.75rem;
//         color: $echoblue;
//         width: 100%;
//         text-align: left;
//     }

//     .callNotes {
//         display: flex;
//         flex-wrap: wrap;
//         padding: 1.875rem;
//         padding-left: 1rem;
//         border-bottom: 0.0625rem solid $solitude;

//         &-writenote {
//             width: 100%;
//             position: relative;

//             textarea {
//                 width: 100%;
//                 resize: none;
//                 height: 8.125rem;
//                 border: 0.0625rem solid $primary;
//                 border-radius: 0.5rem;

//                 padding: {
//                     top: 1.5rem;
//                     right: 2rem;
//                     left: 1rem;
//                     bottom: 1rem;
//                 }

//                 box-sizing: border-box;
//                 font-size: 0.875rem;
//                 @include Proxima;
//                 font-weight: normal;
//                 color: $textgrey;
//                 background: $white;
//             }
//         }

//         &-writeNotesave {
//             position: absolute;
//             bottom: 0.5rem;
//             right: 0.5rem;
//             font-size: 1rem;
//             font-weight: 500;
//             color: $success;
//             background: $white;
//             padding: 0.5rem;

//             &.saving {
//                 color: $danger;
//                 font-size: 0.875rem;
//             }
//         }

//         &-notereadonly {
//             background: $surface;
//             padding: 1rem;
//             border-radius: 0.75rem;
//             width: 100%;
//             min-height: 2rem;

//             &-date {
//                 font-size: 0.6875rem;
//                 color: $echoblue;
//                 text-transform: uppercase;
//                 font-weight: 500;
//                 margin: 0 0 0.5rem;
//             }

//             &-note {
//                 font-size: 0.875rem;
//                 font-weight: normal;
//                 color: $textgrey;
//                 line-height: 1.21;
//             }
//         }

//         &-nonotes {
//             @extend .callNotes-notereadonly;
//             font-size: 0.75rem;
//             color: $lightgrey;
//             text-transform: uppercase;
//             font-weight: 500;
//         }
//     }

//     .callTags {
//         display: flex;
//         flex-wrap: wrap;
//         padding: 1.875rem;
//         padding-left: 1rem;
//         border-bottom: 0.0625rem solid $solitude;

//         &-container {
//             width: 100%;

//             &-actions {
//                 width: 100%;
//                 display: flex;
//                 align-items: center;
//                 flex-wrap: wrap;
//             }

//             &-notags {
//                 @extend .callNotes-nonotes;
//                 width: 90%;
//             }

//             .dropdown-datalist {
//                 flex: 1;

//                 .datalist {
//                     width: 100%;
//                 }
//             }

//             &-tags {
//                 width: 100%;
//             }

//             border: 0.125rem solid $belowLevel;
//             border-radius: 0.5rem;
//             display: flex;
//             flex-flow: row;
//             flex-wrap: wrap;
//             padding: 0 1rem;
//             align-items: center;
//             padding: 0.5rem;

//             &:hover,
//             &:focus {
//                 border-color: $primary;
//             }

//             .dropdown-datalist {
//                 flex: 1;
//                 min-width: 12rem;

//                 .datainput {
//                     border: 0;
//                     width: 100%;
//                     outline: none;
//                     padding: 0 0.5rem;
//                 }

//                 .datalist {
//                     min-width: 15rem;
//                     top: 2rem;
//                 }
//             }
//         }

//         &-input {
//             margin: 0.5rem 0;
//             height: auto;
//             border-radius: 0.375rem;
//             border-color: $primary;
//             padding: 1rem;
//             font-size: 0.75rem;
//             margin-bottom: 1rem;

//             &::placeholder {
//                 font-size: 0.6875rem;
//             }
//         }

//         &-edit {
//             cursor: pointer;
//             color: $primary;
//             font-size: 0.8rem;
//             font-weight: 500;
//             text-transform: uppercase;
//             width: 25%;
//             text-align: center;
//             border: 0.0625rem solid;
//             margin-left: 0.5rem;
//             padding: 0.5rem;
//             white-space: nowrap;
//             border-radius: 0.5rem;

//             &.danger {
//                 color: $danger;
//             }
//         }
//     }
// }

// .dateBlock {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-transform: uppercase;
//     color: $white;
//     // font-size: 1rem;
//     font-weight: 500;
//     letter-spacing: normal;

//     .line {
//         margin: 0;
//         background: $primary;

//         &:first-of-type {
//             max-width: 3rem;
//         }
//     }

//     &-value {
//         background: $primary;
//         opacity: 0.85;
//         border-radius: 2rem;
//         padding: 0.25rem 1.25rem 0.15rem;
//         letter-spacing: normal;
//         // font-size: 0.875rem;
//     }
// }

// .search_drawer {
//     .ant-drawer-body {
//         padding: 0;
//     }
//     .ant-menu-horizontal,
//     .search-sidebar,
//     .trackers {
//         max-width: 100%;
//         width: 100%;
//     }

//     .ant-drawer-header {
//         padding-bottom: 0;
//         padding-left: 0;
//         padding-top: 6px;
//         text-transform: uppercase;
//     }
// }

.antd_overrides {
    .custom__tags__select {
        text-transform: capitalize !important;

        &.placeholder__none {
            .ant-select-selector {
                // border-style: dashed !important;
                border: 1px solid #99999933;

                .ant-select-selection-overflow::before {
                    content: '';
                    margin-right: 0px;
                }
            }
        }

        .ant-select-selector {
            // border-style: dashed !important;
            border: 1px solid #99999933;
            overflow: scroll;
            max-height: 100px;

            .ant-select-selection-overflow::before {
                content: '+ Add Tag';
                display: inline-block;
                padding-top: 3px;
                margin-right: 8px;
                font-weight: 600;
                font-size: 14px;
                color: $dusty_gray;
            }
        }

        .ant-select-selection-item {
            background: #1a62f233;
            color: $primary;
            border-radius: 6px;
            font-weight: 600;
        }

        svg {
            color: $primary !important;
            transform: scale(1.2);
        }
    }

    div.ant-select-dropdown {
        max-width: 100px !important;
    }

    .ant-select-dropdown {
        border-radius: 5px;

        .ant-select-item-option-content {
            text-transform: capitalize !important;
            font-weight: 600;
        }
    }
}

.call__list__page {
    @extend .antd_overrides;
    @include scrollbar__style;
    @include flex(flex, column, flex-start, flex-start);
    height: 100%;
    width: 100%;
    padding: 0px 40px;

    margin: 0 auto;

    .card__name {
        font-weight: 600;
        color: $dove_gray;
        margin-bottom: 18px;
        font-size: 12px;

        .ant-row {
            margin-right: 1.25rem;
        }
    }

    &__header {
        @include flex(flex, row, space-between, center);
        width: 100%;
        margin: 18px 0px 12px;

        .results_container_home {
            margin-top: -8px;
            color: $dove_gray;
        }

        .view__select {
            text-transform: capitalize !important;
            font-weight: 600;
            overflow: hidden;

            // .ant-select-selection-item {
            //     width: 10px !important;
            //     overflow: hidden !important;
            // }
            svg {
                stroke-width: 3px;
            }

            .ant-select-dropdown {
                display: none;
            }

            div.ant-select-selector {
                border: none;
                background-color: transparent;
                padding-left: 0;
                font-size: 24px;

                .ant-select-selection-item {
                    // display: flex;
                    // align-items: center;
                    padding-top: 3px;
                    font-weight: 700;
                    color: $mine_shaft;

                    label,
                    .delete_btn {
                        display: none;
                    }
                }

                ::after {
                    margin-left: 0.625rem;
                }
            }
        }

        &__right {
            @include flex(flex, row, center, center);
            gap: 12px;

            .btn_filter {
                width: 36px !important;
                position: relative;
                padding: 0 !important;
                border-radius: 5px;

                .alert_count {
                    position: absolute;
                    top: -10px;
                    background: #ff4d4f;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;
                    font-weight: '600';
                    color: $white;
                    right: -10px;
                    @include flex(flex, row, center, center);
                }
            }

            button.ant-btn {
                height: 36px !important;

                svg {
                    color: $mine_shaft;
                }
            }

            .upcoming_meetings_btn {
                width: 36px;
                font-weight: 600;
                color: $mine_shaft;

                svg {
                    stroke-width: 2px;
                }
            }

            .filter_btn {
                svg {
                    color: #666666 !important;
                }
            }

            .ant-btn-primary {
                border-radius: 4px;
            }
        }

        button {
            margin: 0 !important;
        }
    }

    .ant-col:not(.call_title_container) {
        @include flex(flex, row, flex-start, center);
    }

    .call_title_container {
        @include flex(flex, column, center, flex-start);
    }

    .call_text {
        font-size: 18px;
        font-weight: 600;
        padding-right: 16px;
    }

    .call_stat {
        font-size: 16px;
        font-weight: 400;
    }

    .create_alert_btn {
        outline: none;
        border: 1px solid #99999933;
        cursor: pointer;
        background: transparent;
        height: 40px;
        padding-left: 18px;
        padding-right: 18px;
        color: $mine_shaft;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        transition: all 0.2s ease-in;

        &:hover {
            background: #1a62f233;
            border: 1px solid #1a62f233;
            color: $primary;
        }
    }

    .completed_call_card {
        // box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px #0000000d;
        border-radius: 6px;
        background: $white;
        border: 1px solid $white;
        transition: all 0.3s ease-in;
        margin-bottom: 12px;

        .lead_score_type{
            font-size: 14px;
            padding: 4px;
            border-radius: 4px;
            text-transform: capitalize;
            &.hot{
                background-color: #FF87541A;
                color:#FF8754
            }

            &.warm{
                background-color: #FDD2501A;
                color:#FDD250
            }


            &.cold{
                background-color: #73B1FF1A;
                color:#73B1FF
            }

           
        }

        .client_name {
            transition: all 0.3s ease-in;
            display: flex;
            align-items: center;
            width: 90%;
        }

        .client_name:hover {
            color: $primary;
            font-weight: 600;
        }

        cursor: pointer;

        &_top_section {
            padding: 16px 24px;

            .call_title {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                width: auto;
                max-width: 80%;
                margin-bottom: 4px;
            }

            .comment_initials {
                .ant-avatar-string {
                    font-size: 10px;
                    font-weight: 600;
                }
            }

            .owner_name {
                font-size: 14px;

                flex: 1;
                line-height: 17px;
            }

            .owner_name_container {
                .ant-avatar-string {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        &_bottom_section {
            padding: 16px 26px 13px;
            @include flex(flex, row, space-between, center);

            .card_actions {
                @include flex(flex, row, center, center);
                gap: 14px;
            }
        }

        .processing_text {
            font-weight: 400;
            font-size: 12px;
            padding: 2px 6px;
            border-radius: 4px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                height: 17px;
            }
        }

        .call_type {
            .ant-select-selection-placeholder {
                margin-top: 4px;
            }

            .custom__select {
                border-radius: 4px;
            }
        }

        .more_options {
            margin-top: 0.375rem;
            justify-content: end;
        }

        .go_to_call {
            justify-content: end;
        }
    }

    .date_timeline_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;

        &::before {
            content: '';
            flex: 1;
            background: #99999933;
            height: 1px;
        }

        &::after {
            content: '';
            flex: 1;
            background: #99999933;
            height: 1px;
        }

        .date {
            font-size: 11px;
            display: inline-block;
            color: #666666cc;
            padding: 0px 6px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.upcomming__calls__drawer {
    @extend .antd_overrides;
    @include scrollbar__style;

    .ant-drawer-body {
        padding: 0;
    }

    .title__ {
        &main__heading {
            color: $mine_shaft;
            font-size: 24px;
            font-weight: 700;
        }

        &sub__heading {
            color: $dove_gray;
            font-size: 14px;
            font-weight: 400;
            margin-left: 4px;
            margin-top: 11px;
        }
    }

    .ant-drawer-close {
        display: none;
    }

    .ant-drawer-extra {
        @include flex(flex, row, center, center);
        gap: 38px;

        span {
            cursor: pointer;
            @include flex(flex, row, center, center);

            svg {
                color: $dove_gray;
            }
        }

        .filter_button {
            transform: scale(1.2);
        }
    }

    .date__value {
        font-weight: 600;
        font-size: 16px;
        color: $mine_shaft;
    }
}

.upcomming__call__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    padding: 18px 24px;
    margin-bottom: 18px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 4px;
        top: 0;
    }

    &.google__meet {
        background: #52c41a1a;

        &::before {
            background: #52c41a;
        }
    }

    &.zoom {
        background: #1a62f21a;

        &::before {
            background: #1a62f2;
        }
    }

    &.outlook {
        background: #6a4ff71a;

        &::before {
            background: #6a4ff7;
        }
    }

    &.no_medium {
        background: #f74fa01a;

        &::before {
            background: #f74fa0;
        }
    }

    .call {
        &_title {
            font-weight: 600;
            line-height: 16px;
            font-size: 16px;
            margin-bottom: 12px;
        }

        &_agenda {
            max-height: 36px;
            position: relative;
            overflow: hidden;
            margin: 0;
            transition: all 0.5s ease;
            line-height: 18px;
            color: $dove_gray;
            font-size: 14px;
            transition: max-height 0.5s linear;
            box-sizing: border-box;

            &.show-more {
                max-height: none;
                transition: all 0.3s linear;
            }
        }

        &_show_more_btn {
            color: $primary;
            cursor: pointer;
        }
    }

    .footer {
        @include flex(flex, row, flex-end, center);

        gap: 12px;
        padding-top: 18px;

        .custom__select {
            max-width: 182px;
            width: 182px;
        }

        .call_type_tag {
            flex: 1;
            background-color: transparent;

            .tag-label {
                font-weight: 600;
                font-size: 14px;
            }
        }

        button {
            border-radius: 5px;
            height: 36px;
        }

        button:not([disabled]) {
            color: $primary;
            border-color: $primary;
            background-color: transparent;

            svg {
                color: $primary;
            }
        }
    }
}

.homepage_modal {
    @extend .antd_overrides;
    box-shadow: 0px 4px 20px 0px #0000000d;
    border-radius: 6px;

    .ant-modal-body {
        padding: 24px 47px 24px 24px;

        .setting_name {
            color: $mine_shaft;
            font-weight: 700;
            font-size: 16px;
        }

        .ant-input-affix-wrapper {
            height: 42px;
        }

        .ant-select-selection-item {
            font-size: 16px;
        }
    }

    .ant-modal-title {
        text-transform: unset;
        color: $mine_shaft;
        font-weight: 700;
        font-size: 22px;
    }

    .ant-modal-footer {
        padding: 0px 47px 28px 24px;
        border: none;
        justify-content: space-between;
        align-items: center;

        .ant-checkbox + span {
            font-size: 16px;
            color: $mine_shaft;
        }

        button {
            border-radius: 5px;
            height: 34px;

            span {
                font-size: 14px;
                font-weight: 600;
                text-transform: none;
            }
        }
    }
}

.link_input {
    width: 60%;
    border: none;
    outline: none;
}

.close_btn {
    cursor: pointer;
}

.link_btn {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottom_card {
    padding-left: 96px;
    padding-right: 96px;
    border-radius: 5px;
}

.model_container {
    .ant-modal-body {
        padding: 0;
    }
}

textarea.comment_input {
    height: 85px !important;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 5px !important;
    resize: none;
    padding: 14px 0 0 15px !important;
}

.alert_container {
    margin: 0 85px 0 85px;
    border-radius: 5px;

    .ant-alert-success {
        border: 1px solid rgba(82, 196, 26, 0.2);
        border-radius: 5px;
    }
}

.select_container {
    .email_container {
        div.ant-select-selector {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;

            > span.ant-select-selection-placeholder {
                text-transform: none;
            }
        }
    }
}

.flex.alignCenter.curPoint.score {
    width: 100px;
}

.coaching_modal {
    .ant-modal-title {
        text-transform: unset;
        color: $mine_shaft;
        font-weight: 600;
        font-size: 24px;
    }
    .ant-modal-close {
        top: 10px;
        right: 10px;
    }
    .ant-modal-header {
        padding: 23px 42px;
    }
    .ant-modal-body {
        padding: 0px 40px 0px 83px;
        height: 901px;
        overflow-y: scroll;
        margin-right: 34px;
        margin-top: 18px;
        margin-bottom: 24px;
    }
    .ant-modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(153, 153, 153, 0.2);
        padding-top: 18px;
        padding-bottom: 24px;
        .ant-btn {
            font-size: 16;
            font-weight: 600;
            padding: 11px 40px;
            display: flex;
            align-items: center;
        }
    }
}
