.statistics-container {
    .card {
        padding: 0;
        height: 100%;
        flex-flow: column;

        .ant-spin-nested-loading {
            flex: 1;
        }
    }

    .view-container {
        .statistics-custom {
            // flex-grow: initial;

            .ant-spin-nested-loading {
                width: 100%;
            }
        }
    }
}

.stats-activity {
    &-help-text {
        width: 100%;
        font-style: italic;
        margin-left: 1.125rem;
        font-size: 0.75rem;
        font-weight: 500;
        color: $echoblue;

        .fa {
            padding-right: 0.25rem;
        }
    }

    &-container {
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 0.0825rem solid $belowLevel;

        &-title {
            display: flex;

            padding: {
                top: 1rem;
                left: 1rem;
                bottom: 1rem;
            }

            flex-wrap: wrap;
            align-items: center;

            .cta {
                max-width: 6rem;
                height: auto;
                padding: 0.7rem;

                &.withicon {
                    i.fa {
                        font-size: 0.875rem;
                    }
                }

                span {
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
        }
    }

    &-team-container {
        display: flex;
    }

    &-team-title {
        margin-left: 1.125rem;
        font-size: 0.875rem;
        color: $balihai;
        text-transform: uppercase;
    }

    &-team-item {
        h4 {
            color: $lightgrey;
            font-size: 0.875rem;
            margin: 0.5rem 0;
        }

        h2 {
            margin: 0.5rem 0;
            text-transform: uppercase;
            font-size: 1rem;
        }

        // border: solid 0.0625rem $belowLevel;
        border: 0.0625rem solid rgba(153, 153, 153, 0.2);
        // background: $surface;
        background: $white;
        border-radius: 0.75rem;
        padding: 0 0.75rem;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
        width: 100%;

        &-wrapper {
            flex: 1;
            max-width: 16rem;
            margin-left: 1.125rem;
            display: flex;
        }

        &.loading {
            background: $lightgrey;
            opacity: 0.4;
            position: relative;

            &::after {
                animation: shine 1.5s infinite ease-in-out alternate;
                content: '';
                position: absolute;
                top: -75%;
                left: -210%;
                width: 200%;
                height: 200%;

                background: rgba(255, 255, 255, 0.13);
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 77%,
                    rgba(255, 255, 255, 0.5) 92%,
                    rgba(255, 255, 255, 0) 100%
                );
            }

            h2 {
                color: $lightgrey;
            }

            h4 {
                color: $textgrey;
            }
        }

        &-selected {
            background: $white;
            border: 0.0625rem $primary solid;
        }
    }

    &-graph-member-container {
        display: flex;
        margin-left: 1rem;
        margin-top: 1.25rem;
        border-top: 0.0825rem solid $belowLevel;
        align-items: flex-start;
    }

    &-member-section {
        flex: 1;
        padding-left: 1rem;
        border-left: 0.0825rem solid $belowLevel;

        &-wrapper {
            max-height: 45vh;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0 1rem;

            .dropdown {
                min-width: 10rem;

                select {
                    padding: 0.5rem 1rem;
                }

                i.fa {
                    margin-left: -1.5rem;
                }
            }
        }

        .loading {
            text-align: center;
            margin-top: 3rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.875rem;
            color: $primary;
            opacity: 0.75;
            color: $white;
        }

        &-title {
            font-size: 1.125rem;
            font-weight: 600;
        }

        &-content {
            display: flex;
            margin-top: 0.25rem;
            flex-wrap: wrap;

            &-title {
                display: flex;
                flex-wrap: wrap;
                text-transform: uppercase;
            }
        }

        &-item1 {
            flex: 1;
            padding: 0 0.5rem;
            max-width: 10rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            span {
                cursor: pointer;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-item2 {
            flex: 3;
            max-width: 60%;
        }

        &-item3 {
            flex: 1;
            text-transform: uppercase;
        }
    }

    // graph section goes here
    &-graph-section {
        flex: 1;
        margin: 0;
        padding: 0;
        // max-width: 50%;
        max-width: 80%;

        &-title {
            font-size: 1.125rem;
            font-weight: 600;
        }

        &-area {
            margin-left: 0.4rem;
            .apexcharts-toolbar {
                z-index: 5 !important;
            }
        }
    }

    // individual graph
    &-individual-graph-container {
        margin: 0;
        padding: 0;
        margin-top: 1.25rem;
        border-top: 0.0825rem solid $belowLevel;

        h4 {
            margin-left: 1rem;
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            padding: 0 1rem;
        }

        &-area {
            margin-left: 0.5rem;
            width: 50%;
        }
    }
}

.activity-member-section {
    &-title {
        font-size: 0.8125rem;
        color: $echoblue;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &-content {
        font-size: 0.875rem;
        font-weight: 600;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.stats-percent-success {
    background: $success;
}

.stats-percent-danger {
    background: $danger;
}

// stats-subnav
.stats-subnav {
    &-container {
        flex-shrink: 0;
        height: 3rem;
        background: $white;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    &-option {
        font-size: 0.875rem;
        font-weight: 600;
        color: $echoblue;
        text-transform: uppercase;
        width: 10rem;
        text-align: center;
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        justify-content: center;
        background: linear-gradient(to top, $surface 50%, white 50%);
        background-size: 200% 200%;
        transition: all 0.2s ease-out;

        &:hover {
            background-position: 0 100%;
        }

        &-label.active {
            color: $primary;
        }

        &-active {
            width: 5.3125rem;
            height: 0.4375rem;
            background: $primary;
            display: inline-block;
            position: absolute;
            bottom: 0;
            border-top-right-radius: 0.375rem;
            border-top-left-radius: 0.375rem;
        }
    }
}

// // Stats => Topics Section goes here

.stats-coaching {
    &-container {
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 0.0825rem solid $belowLevel;
        display: flex;
    }
}

@keyframes shine {
    to {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
}

.plot-container {
    max-width: 100%;
}

.recharts-tooltip-wrapper .custom-tooltip {
    margin: 0;
    background-color: transparentize($color: $legendred, $amount: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-radius: 4px;
}

.recharts-tooltip-wrapper .custom-tooltip .label {
    margin: 0;
    color: $black;
    font-weight: 500;
}
