.topic-container {
    position: relative;

    .topic-card {
        width: 24rem;
        margin: 0.5rem;
        transition: all 0.5s ease;
    }

    .ant-card-head-title {
        text-transform: capitalize;
    }
}

.topic-card {
    .ant-card-head {
        padding: 0 0.5rem;

        .ant-btn.ant-btn-link {
            padding: 0;
            text-transform: capitalize;
            // font-weight: normal;
            color: $white;

            span {
                text-decoration: underline;
            }
        }

        .ant-card-head-title {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
        }
    }

    .ant-card-body {
        padding: 0.5rem;
    }

    .ant-progress {
        padding-right: 2.5rem;
    }

    .header {
        text-transform: uppercase;
        letter-spacing: normal;
        // color: $labelgrey;
        font-size: 0.75rem;
        padding: 0.5rem 0.25rem;
    }

    .reps-data {
        .rep {
            padding: 0.5rem 0.25rem;
            cursor: pointer;

            &:hover {
                @include hover;
            }
        }
    }
}

.compare-wrapper {
    .topic-compare-btn {
        position: absolute;
        top: -2.5rem;
        right: 1rem;
    }
}

.topic-comparer-modal {
    padding: 1rem;

    .ant-modal-header {
        padding: 0.5rem;
    }

    .ant-modal-body {
        display: flex;
        flex-wrap: wrap;
    }

    .ant-tag-checkable {
        font-size: 0.875rem;
        border: 1px solid $primary;
        margin: 0.5rem;
        border-radius: 2rem;
        padding: 0.25rem 0.5rem;
        text-transform: capitalize;
        width: 15%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;

        &.disabled:not(.ant-tag-checkable-checked) {
            border-color: $labelgrey;
            pointer-events: none;

            &:hover {
                color: $black;
            }
        }
    }

    .rep-first-data,
    .rep-second-data {
        padding: 0.75rem 1rem;
        border-right: 1px solid;
        border-left: 1px solid;
        text-align: center;
    }

    .rep-second-data {
        border-right: 0;
    }

    .comparison-table {
        padding-top: 0.5rem;
        border-left: 1px solid;
        border-right: 1px solid;
        width: 100%;

        .row {
            align-items: center;
        }

        .label {
            padding-bottom: 0;
            text-align: center;
        }
    }

    .topic-comparison-data {
        border-top: 1px solid;
        border-bottom: 1px solid;

        .bar-container {
            padding: 0 1rem;

            .bar {
                &::after {
                    height: 2.2rem;
                }

                .value {
                    top: 0.5rem;
                }
            }
        }
    }

    .data-row {
        align-items: center;

        &:hover {
            @include hover;
        }

        .label {
            padding: 0 0.25rem;
            text-align: left;
        }

        .topic-name {
            display: flex;
            padding-left: 0.25rem;
        }
    }

    .comparison-type {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: normal;
        font-weight: 500;
        border: 1px solid;
        width: 100%;
    }
}

.userMonologueDrawer {
    .ant-drawer-header {
        text-transform: uppercase;
        letter-spacing: normal;
    }
    .ant-drawer-body {
        padding: 10px;

        .ant-btn {
            text-transform: capitalize;
        }
    }
}

.userMonologuePlyer {
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-inner-content {
        padding: 0;
    }

    .closeBtn {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 10;
        right: 0;
        margin: 0;
        color: white;
    }
}
