.uploadCall {
    &-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .ant-select-selector {
            border: 0 !important;
        }

        &-left,
        &-right {
            flex: 1 1;
            padding: 0 0.5rem;

            .label {
                font-size: 0.75rem;
            }

            .input {
                &::placeholder {
                    font-size: 0.75rem;
                    font-weight: normal;
                }
            }

            .dropdown-list {
                &-toggler {
                    padding: 1rem;
                    font-weight: 500;
                }

                &-options {
                    top: 3rem;
                }
            }
        }

        &-bottom {
            width: 100%;

            .uploadFile {
                color: $echoblue;
                text-transform: uppercase;
                margin: 1rem 2rem;
                border: 0.375rem dashed $solitude;
                min-height: 11.5625rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &.fileover {
                    border-color: $primary;
                }

                &-dropzone {
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                    .error {
                        padding: 1rem;
                        font-size: 0.75rem;
                        color: $danger;
                        font-weight: 500;
                    }
                }

                &-msg {
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                &-or {
                    font-size: 0.75rem;
                }

                &-browse {
                    box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);
                    background: $white;
                    color: $primary;
                    padding: 0.5rem 1rem;
                    height: auto;
                    width: auto;

                    span {
                        font-size: 0.75rem;
                        font-weight: 500;
                    }
                }

                &-preview {
                    padding: 2rem;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    &-box {
                        padding: 1.5rem;
                        box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);
                        position: relative;

                        p {
                            text-transform: none;
                            color: $textgrey;
                            font-weight: 500;

                            .fa {
                                padding-right: 0.5rem;
                                font-size: 1.2rem;
                                vertical-align: top;

                                &.fa-file-video-o {
                                    color: $danger;
                                }

                                &.fa-file-audio-o {
                                    color: $primary;
                                }
                            }
                        }
                    }

                    .preview {
                        max-width: 100%;
                        max-height: 15rem;
                    }

                    .remove-file {
                        font-size: 1.5rem;
                        margin-top: -1rem;
                        color: $danger;
                    }
                }

                &-allowed-label {
                    padding-top: 0.5rem;
                    font-size: 0.75rem;
                }
            }
        }

        textarea {
            width: 100%;
            resize: none;
            height: 8.125rem;
            border: 0.125rem solid $solitude;
            border-radius: 0.5rem;

            padding: {
                top: 1.5rem;
                right: 2rem;
                left: 1rem;
                bottom: 1rem;
            }

            box-sizing: border-box;
            font-size: 0.875rem;
            @include Proxima;
            font-weight: normal;
            color: $textgrey;
        }

        .call_name {
            border: 0.125rem solid $solitude;
            border-radius: 0.5rem;
            min-height: 3rem;
        }

        .uploadCall-modal-section {
            padding: 0.5rem;
        }

        .ant-select {
            border: 0.125rem solid $solitude;
            border-radius: 0.5rem;
            padding: 0.25rem 0;
            width: 100%;
        }

        .ant-select .ant-select-selection-placeholder,
        .ant-input::-webkit-input-placeholder {
            color: $textgrey;
            text-transform: capitalize;
            font-weight: 500;
            opacity: 0.4;
            font-size: 14px;
        }

        .uploadCall-callTags,
        .uploadCall-callType,
        .uploadCall-recp {
            .ant-select-single:not(.ant-select-customize-input),
            .ant-select-multiple.ant-select-focused {
                .ant-select-selector {
                    border: 0;
                    box-shadow: none;
                }
            }
        } 

        .error {
            border-color: $danger;
            &:not(.uploadFile) {
                border-width: 0.5px;
            }
        }
    }

    &-callTags {
        &-list {
            padding: 0.5rem;
        }

        &-container {
            border: 0.125rem solid $belowLevel;
            border-radius: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            padding: 0 1rem;
            align-items: center;
            padding: 0.5rem;

            &:hover,
            &:focus {
                border-color: $primary;
            }

            .dropdown-datalist {
                flex: 1;
                min-width: 6rem;

                .datainput {
                    border: 0;
                    width: 100%;
                    outline: none;
                    padding: 0 0.5rem;
                }

                .datalist {
                    min-width: 15rem;
                    top: 2rem;
                }
            }
        }
    }
}
.upload__voicePrint {
    .ant-modal-content {
        border-radius: 10px;
    }
    .recording-container {
        box-shadow: none;
        max-width: none;
        margin: 0;
        &-topsection {
            padding-top: 10px;
        }
    }
}