@import '../../static/styles/dependency/variables';
@import '../../static/styles/dependency/mixins';

.dashboard-drawer {
    background-color: rgba(26, 98, 242, 0.1);

    .ant-collapse-header {
        padding: 21px 34px 22px 34px !important;
    }

    .ant-collapse-content-box {
        border-top: 1px solid rgba(153, 153, 153, 0.3);
        padding: 21px 34px 22px 34px !important;
    }

    .radioBtn-container {
        margin-right: 81px;

        .ant-radio-wrapper {
            margin-left: 21px !important;
        }
    }
}

.ant-drawer-footer {
    border-top: 1px solid $solitude !important;
    padding: 20px 34px 20px 0px !important;
    display: flex;
    justify-content: flex-end;

    .footer_button {
        height: 36px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
    }

    .clear__button {
        color: $dusty_gray;
        border: 1px solid #99999980;

        &:hover {
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.dashboard__header {
    @include flex(flex, row, space-between, center);
    border-bottom: 1px solid #99999933;

    margin: 18px 20px 24px 28px;
    @include antd_select_overrides;
    flex-shrink: 0;

    .switch_container {
        display: flex;
        align-items: center;
        margin-right: 19px;
        gap: 16px;

        .switch_scale {
            transform: scale(1);
        }

        .ant-switch {
            background: $primary !important;
        }

        .ant-switch-checked {
            background: $primary;
        }
    }

    .filter-tab {
        width: 87px;
        height: 36px;
        border: 1px solid rgba(153, 153, 153, 0.2);
        border-radius: 4px;
        padding: 10px 13px;
        cursor: pointer;
        margin-left: 12px;

        .humburger-icon-container {
            border-radius: 4px;
            margin-right: 12px;
        }

        .filter-title {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
        }
    }

    @media (max-width: 1500px) {
        .filters_switch_container {
            gap: 32px;
        }
    }
}

.main__dashboard {
    padding: 0px 28px 28px;
    padding-right: 20px;
    margin-bottom: 1.5rem;
    overflow-x: hidden;

    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include antd_select_overrides;
    overflow-y: scroll;

    .custom__card {
        box-shadow: 0px 5px 20px 0px #0000000d;
        border: 1px solid #99999933;
        border-radius: 10px;

        .heading_margin {
            display: inline-block;
            padding-right: 10px;
        }

        .custom__select {
            max-width: 192px !important;
            width: 192px !important;
        }
    }

    .ant-tabs-nav-list {
        .ant-tabs-tab {
            padding: 14px 16px;
            margin: 0;
        }

        .ant-tabs-tab-btn {
            font-size: 14px;
            color: $dove_gray;
        }

        .ant-tabs-tab-active {
            background: #1a62f21a;

            .ant-tabs-tab-btn {
                font-weight: 600;
                color: $primary;
            }
        }

        .ant-tabs-ink-bar {
            height: 3px;
            background: $primary;
            border-radius: 0 0 6px 6px;
        }
    }

    .pie_chart_dimmension {
        height: 270px;
        flex: 1;
    }

    .cards_container {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1500px) {
        .switch_container {
            .switch_scale {
                transform: scale(1) !important;
            }
        }

        // .cards_container {
        //     grid-template-columns: repeat(2, 1fr);
        // }
    }

    .details__btn {
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        background: #f8f7fc;
        height: 36px;
        color: $mine_shaft;
        cursor: pointer;
        margin-right: 17px;
        padding: 0px 16px;
    }

    .dashboard {
        &__label {
            font-size: 12px;
            color: $dove_gray;
            line-height: 10px;
            margin-left: 4px;
            margin-top: 1px;
            font-weight: 400;
            max-width: 105px;
            width: auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @media (max-width: 1500px) {
                font-size: 10px;
                font-weight: 200;
            }
        }

        &__mark {
            display: inline-block;
            height: 9px;
            width: 14px;
            border-radius: 10px;
        }

        &__legend__container {
            display: flex;
            // justify-content: flex-end;
            gap: 16px;
        }
    }

    .graph__container {
        background: #ffffff;
        border: 1px solid rgba(153, 153, 153, 0.2);

        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }

    .call__summary {
        position: relative;
        padding-left: 20px;

        .label_type {
            position: absolute;

            height: 100%;
            width: 7px;
            border-radius: 10px;
            left: 0;
            top: 0;
        }
    }
}

.graph__switch {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: centers;

    .graph__switch--btn {
        outline: none;
        border: none;
        background: transparent;
        color: $dove_gray;
        transition: 0.3s all ease;
        width: 28px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.selected {
            background: $primary;
            color: $white;
            border-radius: 4px;
            transform: scale(1.1);
            box-shadow: 0px 2px 6px 0px #33333340 inset;
        }
    }
}

.graph__dropdown {
    min-width: 80px !important;
    // width: 80;
    display: 'inline-flex';
    align-items: 'center';
    justify-content: 'space-between';
    padding: 0;
    height: 24px;
    text-transform: none !important;

    .ant-select-selector {
        padding: 6px 8px !important;
        display: flex;
        align-items: center;
        height: 100% !important;
        border-radius: 4px !important;

        .ant-select-selection-search {
            top: 6px !important;
            bottom: 6px !important;
            left: 8px !important;
            right: 8px !important;
        }

        .ant-select-selection-item {
            line-height: normal;
        }
    }
}

.option__container {
    text-transform: none !important;
    min-height: 12px !important;
    line-height: 12px !important;
}

.audit-toggler-container {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    padding-bottom: 8px;
    padding-top: 10px;
    margin-bottom: 20px;

    .audit-toggler {
        font-weight: 600;
        margin-right: 20px;
    }

    .toggle-container {
        width: 200px;
        background-color: #f4f4f4;
        cursor: pointer;
        user-select: none;
        border-radius: 3px;
        padding: 2px;
        position: relative;

        .dialog-button {
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
            cursor: pointer;
            background-color: white;
            color: #006eff;
            padding: 8px 1px;
            border-radius: 18px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            min-width: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            min-width: unset;
            border-radius: 3px;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            position: absolute;
            left: 50%;
            transition: all 0.3s ease;
            position: relative;
        }

        .disabled {
            background-color: white;
            left: 2px;
        }
    }
}

.analysis__dashboard {
    // margin-top: 24px;
    color: $mine_shaft;
    padding-left: 17px;

    // @include flex(flex, column, center, flex-start);
    flex: 1;

    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background: #99999933;
        left: 0;
        top: 30px;
    }

    .section__header {
        font-weight: 600;
        position: relative;

        @include flex(flex, row, space-between, center);

        .pointer_dot {
            position: absolute;
            left: -23px;
            z-index: 100;
        }
    }

    gap: 16px;

    .overall__analysis__card {
        padding: 18px;
        padding-right: 42px;
        display: flex;
        height: 464px;

        .line__graph__container {
            flex: 2;
            height: 100%;
        }

        .donut__chart__container {
            position: relative;
            flex: 1;
            min-width: 550px;
            margin-right: -10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .call__summary__container {
                @include flex(flex, row, space-between, center);
                max-width: 500px;
                padding-left: 42px;
                padding-bottom: 18px;
            }

            .summary {
                // position: absolute;
                // right: 20px;
                // top: 17px;
                border: 1px solid #99999933;
                border-radius: 5px;
                padding: 1px 10px;
            }

            .summary_value {
                margin-top: -4px;
            }
        }
    }
}

.pie_card_labels_container {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.pie_card_labels_container_row {
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}

.graph__tooltip {
    padding: 4px;
    border-radius: 4px;
    background: $white;
    position: relative;
    left: 50%;
    box-shadow: 0px 4px 10px 0px #33333333;
    max-width: 500px !important;
    min-width: 78px !important;

    .top__section {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .tail {
        width: 0;
        height: 0;
        border-top: 10px solid $white;
        border-right: 10px solid transparent;
        position: absolute;
        left: 0;
    }
}

.divider {
    height: 14px;
    width: 0px;
    border: 1px solid $dusty_gray;
    display: inline-block;
    margin: 0 15px;
    fill: $dusty_gray;
}

.tooltiptext {
    background: rgb(46, 46, 46);
    padding: 8px;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(46, 46, 46) transparent transparent transparent;
    }
}

.see_deetails_section {
    // height: 100%;

    .ant-tabs {
        // height: 100%;

        .ant-tabs-content {
            height: 100%;

            .custom__card {
                height: 100% !important;
            }
        }
    }

    .overall__analysis__card {
        background-color: #ffffff;
    }
}

.insights__card {
    .idea {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .negative_idea {
        background: transparentize($color: $bitter_sweet, $amount: 0.85);

        svg {
            fill: $bitter_sweet;
        }
    }

    .positive_idea {
        background: transparentize($color: $primary, $amount: 0.85);

        svg {
            fill: $primary;
        }
    }

    .recommendation__card {
        @include flex(flex, row, flex-start, center);
        gap: 16px;
        padding: 16px;
        border: 1px solid #1a62f233;
        background: #1a62f21a;
        border-radius: 10px;
    }
}

.card_heading {
    font-weight: 600;
    font-size: 12px;
    color: $mine_shaft;
}

.pie_chart_dimmension {
    g {
        cursor: pointer;
    }
}

.parameter_select_dropdown {
    width: 300px !important;
}

.hover_text {
    transition: 0.3s all ease-in;

    &:hover {
        fill: $primary;
    }
}

.extra_labels {
    .ant-popover-inner-content {
        max-width: 500px;
        border-radius: 6px;
    }

    .dashboard__mark {
        display: inline-block;
        height: 9px;
        width: 14px;
        border-radius: 10px;
    }

    .ant-popover-title {
        display: none;
    }

    .ant-popover-arrow-content,
    .ant-popover-inner-content {
        background: rgba(0, 0, 0, 0.8);
    }
}

.extra_labels_count {
    color: $dove_gray;
    background: #9999994d;
    transition: all 0.3s ease;
    border-radius: 4px;
    // padding-right: 4px;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    height: 16px;

    &:hover {
        color: $primary;
        background: #1a62f24d;
    }
}

// .freq_label {
//     .ant-select-item-option-content {
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//     }
//     .freq_dropdown {
//         color: $dove_gray !important;
//         font-size: 12px;
//         padding: 10px 14px;
//     }
// }

body {
    .freq_lable {
        min-width: 80px !important;
        border-radius: 4px;
        border: 1px solid #1a62f2;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
}

// .freq_menu_contianer {
//     width: 100px;

//     .freq_dropdown {
//         width: 100%;
//     }
// }
.create_share_btn {
    outline: none;
    border: 1px solid #99999933;
    cursor: pointer;
    background: transparent;
    height: 36px;
    color: $mine_shaft;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    padding: 0px 16px;
    &:hover {
        background: #1a62f233;
        border: 1px solid #1a62f233;
        color: $primary;
    }
}

.stacked_bar {
    &_container {
        width: 98%;
        overflow: none;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 15px;
        background-color: #ffffff;

        :last-of-type {
            padding-bottom: 12px;
        }
    }

    background-color: #fafbfc;
    height: 12px;

    &_filled {
        height: 12px;
        position: relative;
    }

    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
    }

    &_label {
        font-weight: 600;
        font-size: 14px;
        color: #666666;
    }

    &_percent_label {
        position: absolute;
        right: max(15px, 2.5%);
        font-size: 10px;
        font-weight: 600;
        color: white;
    }

    &_zero {
        font-size: 10px;
        font-weight: 600;
        color: black;
    }

    &_graph_container {
        z-index: 5;
    }
}
