@import '../../static/styles/dependency/variables';

.mentions__suggestions {
    max-height: 200px;
    top: -210px !important;
    left: 0 !important;
    overflow: scroll;

    border: 1px solid $solitude;
    border-radius: 5px;
    margin: 0 !important;

    &__list {
        border: none !important;
        height: 200px;
        li {
            border-bottom: 1px solid $solitude;
            font-weight: 600;
        }
    }
}

.mentions.mentions--multiLine {
    margin-bottom: 10px;
}

.mentions__control {
    overflow: hidden !important;
}

.mentions--singleLine .mentions__control {
    display: inline-block;
    overflow: hidden;
}
.mentions--singleLine .mentions__higlighter {
    padding: 1px;
    border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
    padding: 5px;
    border: 2px inset;
}

.mentions__input {
    overflow: scroll !important;
}

.mentions--multiLine .mentions__control {
    font-size: 14px;
    //size of the text box
    height: 4em;
    overflow: scroll;
}
.mentions--multiLine .mentions__highlighter {
    padding: 9px;
}
.mentions--multiLine .mentions__input {
    padding: 12px;
    padding-left: 4rem;
    padding-top: 20px;
    padding-right: 4rem;
    min-height: 63px;
    outline: 0;
    border: 1.40814px solid rgba(153, 153, 153, 0.1);
    box-shadow: 0px 5.63256px 20px rgba(153, 153, 153, 0.1);
    border-radius: 10px;
}

.mentions__suggestions__list {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt;
}

.mentions__suggestions__item {
    padding: 5px 15px;
}

.mentions__suggestions__item--focused {
    background-color: $primary;
    color: $white;
}

.mentions__mention {
    background-color: #1a62f233;
    font-weight: 600;
}

.comment_add {
    border-right: 1px solid #99999933;
    margin-top: 2px;
    z-index: 2;
}

.comment_send {
    background-color: #1a62f21a;
    margin-right: 16px;
    scale: 1.25;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.recording_stop {
    @extend .comment_send;
    background-color: #ff63651a;
    &_icon {
        width: 0.8rem;
        height: 0.8rem;
        background: #ff6365;
        border-radius: 2px;
    }
}


.comment_media_add_popover {
    display: flex;
    flex-direction: column;
    font-weight: 400 !important;
    .ant-popover-inner-content {
        padding: 12px 16px !important;
        border: 1px solid rgba(26, 98, 242, 0.2);
        border-radius: 5px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
    .ant-popover-arrow {
        display: none !important;
    }
    span {
        text-transform: none !important;
    }
    button {
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        height: 35px;
        padding: 0 16px;
        border: none;
        &:hover {
            background-color: #dfeaff66 !important;
        }
        svg {
            margin-right: 18px;
        }
    }
}

//Audio Comment
.audio_comment_container {
    display: flex;
    flex-direction: column;
    width: min(100%, 25rem);
    height: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #ffffff;
    border: 1px solid rgba(153, 153, 153, 0.1);
    box-shadow: 0px 4px 10px rgba(153, 153, 153, 0.2);
    border-radius: 0px 1px 24px 24px;
    .comment_duration {
        margin-top: -0.5rem;
        margin-left: 18.5%;
        font-size: 12px;
        font-weight: 600;
        color: #666666;
    }
}
.audio_comment {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .play_svg_container {
        flex: 1;
        padding: 7px 14px;
        margin-top: 0.5rem;
    }
    .waveform_container {
        flex: 9;
        margin-right: 14px;
        wave {
            overflow: hidden !important;
        }
    }
    .play_svg {
        box-shadow: 0px 4px 20px rgba(26, 98, 242, 0.1);
        border-radius: 50%;
        padding: 0.75rem 1rem;
        svg {
            fill: $primary;
        }
    }
}

//Audio Recording

.audio_recording_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100%, 18rem);
    height: 42px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #ffffff;
    border: 0.76766px solid rgba(153, 153, 153, 0.1);
    box-shadow: 0px 3.07064px 10.9032px rgba(153, 153, 153, 0.1);
    border-radius: 5.45159px;
    padding-top: 0.35rem;
    .comment_duration {
        flex: 1;
        font-size: 10px;
        margin-right: 1rem;
    }
    svg {
        color: #999999;
        cursor: pointer;
        margin: 0px 6px;
    }
    .delete_svg {
        border-right: 1px solid #99999933;
        margin-left: 0.5rem;
        margin-top: 2px;
        svg {
            margin-right: 6px;
        }
    }
}
.audio_recording {
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(12.5rem, 100%);
    scrollbar-color: white;

    .waveform_container {
        width: 100%;
        margin-right: 14px;
    }
}

.video_recording {
    .ant-modal-body {
        padding: 0 !important;
        height: 268px;
        border-radius: 12px !important;
        overflow: hidden !important;
    }
    .ant-modal-content {
        border-radius: 12px !important;
    }
}

.video_recording_container {
    .video_container {
        width: 108.44px;
        height: 81.33px;
        position: relative;
        video {
            border-radius: 3px;
            z-index: 50;
        }
        .close_svg {
            cursor: pointer;

            color: white;
            position: absolute;
            top: -5%;
            right: -5%;
            background-color: $primary;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }

        .play_svg {
            cursor: pointer;
            svg {
                z-index: 51;
                scale: 1.2;
                fill: #1a62f2;
                color: #1a62f2;;
                position: absolute;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
