.snippetsDrawer {
    .ant-drawer-content-wrapper {
        max-width: 668px !important;
        width: 668px !important;
    }

    .ant-drawer-header-title {
        .ant-drawer-close {
            display: none;
        }
    }

    .ant-drawer-body {
        padding: 0px 14px !important;

        .monologue_card {
            border: 1px solid #99999933;

            margin-top: 20px;

            border-radius: 8px;
        }

        .monologue_card_title {
            padding: 0px 14px 14px;
            border-bottom: 1px solid #99999933;

            .title {
                color: #333;
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
            }

            .date {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #999;
            }
        }

        .monologues_snippets {
            padding: 14px;
        }
    }
}
